{% extends "BprsStyleBundle::layout.html.twig" %}

{% block title %}{{ 'oktothek_comment_answer_title'|trans }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
    <div class="row">
        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 avatar-container"><div class="avatar2"></div></div>
        <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11 comment">
            <div class="author">{{ 'oktothek.comment_author'|trans({'%name%': comment.user.username, '%date%': comment.createdAt|date('D, d.m.Y H:i')})|raw }}</div>
            <div class="comment-text">
                {% if comment.removed %}
                    <p>{{ 'oktothek.comment_pager_comment_removed'|trans }}</p>
                {% else %}
                    <p>{{ comment.text|nl2br }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% include "AppBundle::News_Comment/_form.html.twig" %}
{% endblock %}
