{% extends "BprsStyleBundle::layout.html.twig" %}
{% block title %}{{ name|default('OKTO')~' | '~'oktothek_academy_header'|trans }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'academy', 'dropdown': ''} %}
{% endblock %}

{% block body %}
<div class="container">
    <h1>AKADEMIE</h1>
    <p>Ich bin nur ein platzhalter für Sabina Kargl-Faustenhammer</p>
</div>
{% endblock %}
