{{ form(commentForm) }}

{#
<form action="#" id="comments" method="POST">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Schreibe ein Kommentar...">
        <span class="input-group-btn"><button class="btn btn-default" type="button">Senden</button></span>
    </div>
</form>
#}
