{% extends "BprsStyleBundle::layout.html.twig" %}
{% block title %}{{ 'Kommentar bearbeiten' }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
    <header class="page-header"><h1 class="form-signin-heading">Kommentar bearbeiten</h1></header>
    <section class="comments comment-edit row">
    {{ form(form) }}
    </section>
{% endblock %}
