{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
    <div class="row">
        <div class="col-md-8">Info about your episodes + statistics</div>
        <div class="col-md-4">
            generic series info + contact info for your channel manager and more
        </div>
    </div>
{% endblock %}
