{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "series head-white-color head-transparent-bg fullscreen-images" %}
{% block body %}
    <section class="series-content">
        <div class="series-ident">
            <figure class="series-posterframe">
                <img src="{{ series.posterframe|path() }}" />
            </figure>
			<article class="series-description container">
			    <h1>{{ series.name }}</h1>
				<p class="description">{{ series.description }}</p>
			</article>
		</div>
    </section>
    {% include 'AppBundle::Default/EpisodeStack.html.twig' with {'episodes': series.episodes} %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({'placement': 'auto top'});
    });
</script>
{% endblock %}
