{% extends "BprsStyleBundle::layout.html.twig" %}

{% block title %}{{ playlist.name ~' | '~ name|default('OKTO') }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "" %}
{% block body %}
    <div class="container">
	    <div id="top"></div>
        <div class="page-header">
            <h1>{{ playlist.name }}</h1>
            <p>{{ playlist.description }}</p>
        </div>

        {% for item in playlist.items %}
            {% include 'AppBundle:Episode:EpisodeThumb.html.twig' with {'episode': item.episode} %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({'placement': 'auto top'});
    });
</script>
{% endblock %}
