# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver: pdo_sqlite
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    locale: de

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    bprs_user.host: localhost.host
    bprs_user.mailadress: bot@host.com
    bprs_user.name: MAILBOT
    bprs_user.class: "AppBundle\\Entity\\User"
    xsendfile: true
    bprs_asset.junksize: 200000
    php_path: "/path/to/php"
    worker_queue: "flux2"
    redis_backend: 'localhost:6379'

    customer_id:    123456
    project_id:     123456
    api_id:         123456789ABCDEFGHIJKLMNOPQRST


    player_url:     "http://url.to.your/player.js"
    program_url:    'http://delorian.okto.tv/app.php/de/delorian/public_api/program/%%s/%%s'
    bprs_asset_adapters:
        posterframe:
            url:  "http://your.url/path/posterframes"
            path: "/your/path/to/posterframes"
        video:
            url:  "http://your.url/path/videos"
            path: "/your/path/to/videos"
        gallery:
            url:  "http://your.url/path/gallery"
            path: "/your/path/to/gallery"
        cache:
            url: "/tmp"
            path: "/tmp"
        promo:
            url:  "http://your.url/path/promo"
            path: "/your/path/to/promo"
    mailchimp_api_key: "your_secret_key"
    mailchimp_default_newsletter: "???"
    mailchimp_academy_newsletter: "???"
    oktothek_academy_mail:        "academy@mail.com"
    oktothek_aws_key:    "your_IAM_key"
    oktothek_aws_secret: "your_IAM_secret"
    oneup_flysystem_adapters:
        posterframe:
            local:
                directory: '%kernel.root_dir%/../web/uploads/posterframes'
        video:
            local:
                directory: '%kernel.root_dir%/../web/uploads/videos'
        cache:
            local:
                directory: /tmp
        gallery:
            local:
                directory: '%kernel.root_dir%/../web/uploads/gallery'
        promo:
            local:
                directory: '%kernel.root_dir%/../web/uploads/promo'
