<div class="row">
{% for playlist in playlists %}
    {% if playlist.items|length > 0 %}
        {% include "AppBundle:Default/Playlist:PlaylistThumb.html.twig" %}
    {% endif %}
{% endfor %}
</div>
