{#
    because some retarded people want the exact same component to act differently
    just to confuse users, this template exists and is used on the Series page to
    show 8 results at the same time instead of the regular 4 + 4.
#}
<ul class="row">
    {% for episode in episodes|slice(0,4) %}
        {% if episode.isActive %}
            {% include "AppBundle:episode:EpisodeThumb.html.twig" %}
        {% endif %}
    {% endfor %}
</ul>
{% if episodes|length > 4 %}
<ul class="row">
    {% for episode in episodes|slice(4,4) %}
        {% if episode.isActive %}
            {% include "AppBundle:episode:EpisodeThumb.html.twig" %}
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% if episodes|length > 8 %}
    <a href="{{ path('oktothek_show_series_episodes', {'uniqID': episodes[0].series.uniqID}) }}" class="pull-right more" title="{{ collapse_title|default('oktothek.episode_stack_collapse_title'|trans) }}">
        {{ 'oktothek_series_episodeStack_show_more'|trans|raw }}
    </a>
{% endif %}
