{% extends "BprsStyleBundle::layout.html.twig" %}

{% block title%}{{ name|default('OKTO')~' | '~tag.text }}{% endblock %}
{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "tagpage head-white-color head-transparent-bg fullscreen-background" %}
{% block body %}
<div id="top"></div>
<div class="container-fluid">
    <div class="bg-bleur"></div>
    <header class="container">
        <h1>{{ 'oktothek_tag_header'|trans({'%title%': tag.text})}}</h1>
        {% include "AppBundle:Default:_share.html.twig" with {'show_button': true} %}
    </header>
</div>
<section class="container">
    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>
    {% for post in posts %}
        {% include 'AppBundle::News/post.html.twig' with {'newsloop': loop.index }%}
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>
</section>
{% endblock %}
