{% extends "BprsStyleBundle::layout.html.twig" %}

{% block title%}{{ name|default('OKTO')~' | '~tag.text }}{% endblock %}
{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "clip_overview" %}
{% block body %}
<div id="top"></div>
<div class="container-fluid">
    <div class="bg-bleur"></div>
    <header class="container">
        <h1>{{ 'oktothek_tag_header'|trans({'%title%': tag.text})}}</h1>
        {% include "AppBundle:Default:_share.html.twig" with {'show_button': true} %}
    </header>
</div>

<div class="row">
    <div class="navigation">
        {{ knp_pagination_render(seriess) }}
    </div>
</div>
{% for series in seriess %}
    {% include "AppBundle:Default:Series/SeriesThumb.html.twig" %}
{% endfor %}
<div class="row">
    <div class="navigation">
        {{ knp_pagination_render(seriess) }}
    </div>
</div>
{% endblock %}
