<h1>Hi {{ notification.user}}!</h1>
<p>
    <a href="{{ url('oktothek_show_series', {'uniqID': notification.series.uniqID})}}">{{ notification.series }}</a> hat einen neuen Kommentar zu einer <a href="{{ url('oktothek_show_episode', {'uniqID': episode.uniqID}) }}">Episode!</a>
</p>
