/* in anderes CSS verschieben!!!*/
body {
    padding-top: 140px;
}

/* Fonts 
body {
	font-family: Helvetica, Arial, sans-serif;
}*/
body, h1, .carousel-caption h3, h2, header .navbar .nav.navbar-right > li > a, .pin figcaption p, .collapseShare .helptext, #episode-tag option {
	font-family: 'Helvetica Neue 55 Roman', Helvetica, sans-serif;
}
header .navbar .nav > li > a, #dropdownMenuTags, .oktothek .participart figcaption, .pin figcaption h3, .news h3, .footer h3, .collapseShare h3, .collapsePlaylist h3, .collapseCoursedetails h3, .comments h2, .comments .comment-answer, #episode-tag {
	font-family: 'Helvetica Neue 65 Medium', Helvetica, sans-serif;
}
/*header .navbar .nav > li > a {
	font-family: sans-serif;
	font-weight:bold;
}*/
.carousel-caption .slide-content, .subheadline, .participart .button_container .btn, .btn.btn-top, figcaption .description {
	font-family: 'Helvetica Neue 45 Light', Helvetica, sans-serif;
}
/*h2 {
	font-family: 'Helvetica Neue 65 Medium', Helvetica, Arial, sans-serif;
}
.carousel-caption .slide-content {
	font-family: 'Helvetica Neue 25 UltraLight', Helvetica, Arial, sans-serif;
}*/
h1, h2, .h2 {
	font-size:35px;
	letter-spacing:0.5px;
}
#anchor-menu .panel-title .glyphicon, .btn-top .glyphicon, .programm header h1 time {
	font-size:30px;
}
.carousel-caption h3, .pull-right .icon, .series h1 {
	font-size:24px;
}
.subheadline, .participart .button_container .btn, .news p, figcaption .description {
		font-size:16px;
	}
	/* Placeholderstyles (nicht möglich zu gruppieren) */
header .form-control::-moz-placeholder {
  		font-size:16px;

}
header .form-control:-ms-input-placeholder {
        font-size:16px;
}
header .form-control::-webkit-input-placeholder {
        font-size:16px;
}
header .collapse.in h3, article figcaption h3, .footer h3, #anchor-menu .panel-title, .newsarchiv h2, .newsarchiv h3, .newsarchiv .label, .pin figcaption h3, .news h3, .like-it .glyphicon, .comments h2, .carousel-caption .type, #episode-tag option {
	font-size:14px;
	letter-spacing:0.25px;
}
.form-control::-moz-placeholder {
  		font-size:14px;
}
.form-control:-ms-input-placeholder {
        font-size:14px;
}
.form-control::-webkit-input-placeholder, .like-it {
        font-size:14px;
}
.programm p.current-episode, header .nav, .pin figcaption p, .btn, .pin .like-it .glyphicon, .news .tag, .footer h3, .input-group-addon, .collapseShare h3, .collapsePlaylist h3, .collapseCoursedetails h3, .collapseShare .helptext, .comments .author, .comments .comment-answer, #episode-tag {
	font-size:12px;
	letter-spacing:0.25px;
}
/* Spacelayout */
.oktothek .participart-list figcaption {
	font-size:11px;
}
.pin .like-it {
	font-size:10px;
}
.btn, header .navbar-nav a, header #dropdownMenuTags.btn-default, footer .nav > li > a, a.pull-right, .episode .series a, .comments a.answerlink, #anchor-menu .panel-title, .btn-top, .carousel-caption .type, .pin figcaption h3, .news .tag, footer h3, .input-group-addon, .collapseShare h3, .collapsePlaylist h3, .collapseCoursedetails h3, .news h3, .comments h2, #episode-tag, .oktothek .participart-list figcaption {
	text-transform:uppercase;
}

.btn.btn-top, #episode-tag option {
	text-transform:none;
}
.newsarchiv .label, label, .carousel-caption h3, .series h1 {
	font-weight:400;
}
header .nav {
	letter-spacing: 0.75px;
}


@media (min-width: 768px) {
	
	.carousel-caption h3, .series h1 {
		font-size:45px;
		letter-spacing: 1px;
		line-height:0.95em;
	}
	.subheadline, .participart .button_container .btn, figcaption .description {
		font-size:19px;
		letter-spacing: 0.1px;
	}
}

/****************************** Color, Effects ******************************/

/**************************** Color, Effects Header ****************************/

/* Basic Color */
/* Menu*/
#dropdownMenuTags.btn-default, header .navbar-inverse .navbar-nav.mainmenu > .active > a, header .navbar-inverse .navbar-nav.mainmenu > .active > a:hover, header .navbar-inverse .navbar-nav.mainmenu > .active > a:focus, header .mainmenu li:hover a, header .mainmenu li:hover a:hover, .navbar-inverse .navbar-nav > li > a, header .collapse.in a, .navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
header input.form-control {
	color: #818181;
}
/* Placeholderstyles (nicht möglich zu gruppieren) */
header .form-control::-moz-placeholder {
  color: #818181;

}
header .form-control:-ms-input-placeholder {
  color: #818181;
}
header .form-control::-webkit-input-placeholder {
  color: #818181;
}
header .navbar-inverse .navbar-nav > .active > a, header .navbar-inverse .navbar-nav > .active > a:hover, header .navbar-inverse .navbar-nav > .active > a:focus, header .navbar-inverse .navbar-nav > a:focus, header .navbar-inverse .navbar-nav > a:hover, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #333333;
}
.carousel-caption .type {
	color: #fcce14;
}


/* Backgroundcolor */

/* Header */
.fullscreen-images .navbar-inverse, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .footer, header form button[type="submit"], header input.form-control, header #dropdownMenuTags.btn-default, header #dropdownMenuTags.btn-default:hover, header #dropdownMenuTags.btn-default:focus, header #dropdownMenuTags.btn-default:active, header #dropdownMenuTags.btn-default.active, .open > header #dropdownMenuTags.dropdown-toggle.btn-default {
    background-color: transparent;
}
.navbar-inverse, header .navbar-inverse .navbar-toggle:hover .icon-bar, header .navbar-inverse .navbar-toggle:focus .icon-bar, header .navbar-collapse, header .navbar-fixed-top {
	background-color:#000000;
}
header .navbar-inverse .navbar-toggle .icon-bar, header .mainmenu li.active, header .mainmenu li:hover, header .mainmenu li:active, header .mainmenu li.active:hover, header .mainmenu li.active:active {
	background-color:#333333;
}
header .navbar-toggle, header .searchfield {
	background-color:#ffffff;
}

/* Border */

/* Header */
.navbar-inverse, header input.form-control, header input.form-control:focus, .navbar-inverse .navbar-form, header .navbar-inverse .navbar-toggle, header .navbar-inverse .navbar-collapse, header .navbar-inverse .navbar-form {
    border-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	border-bottom:none
}
header #dropdownMenuTags.btn-default {
	border:solid 2px #ffffff;
}
header .navbar-collapse .navbar-nav {
	border-top:solid 1px #cccccc;
}
header .navbar-collapse .navbar-nav:first-child {
	border-top:none;
}
header #dropdownMenuTags.btn-default, header .dropdown-menu, header .navbar-form input.form-control {
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}

/* Effects */

/* Header */
header input.form-control:focus {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
header .navbar-collapse {
	-webkit-box-shadow: 5px 5px 20px grey;
	-moz-box-shadow: 5px 5px 20px grey;
	box-shadow: 5px 5px 20px grey;
}
header .dropshadow {
	-webkit-box-shadow: 2px 2px 5px grey;
	-moz-box-shadow: 2px 2px 5px grey;
	box-shadow: 2px 2px 5px grey;
}
.carousel-caption {
	text-shadow: none;
}

/****************************** Backgroundimages Header ******************************/

/* Header */
/*.navbar-brand object .brandimage {
	background-image:url(../images/logo_okto_white_90.png);
	background-repeat:no-repeat;
}*/
header form button[type="submit"], header form button[type="submit"].btn:active {
	background-image:url(../images/icon_search.png);
	background-repeat:no-repeat;
	background-position:center center;
}
header .navbar-fixed-top {
	background-image:none;
}
header .brandimage {
	background-image:url(../images/okto_logo_mobil.svg);
	background-repeat:no-repeat;
	background-position:center left;
}
header .icon.icon-upload {
	background-image:url(../images/icon_rocket.svg);
	background-repeat:no-repeat;
	background-position:center center;
}
header .icon.icon-login {
	background-image:url(../images/icon_login.svg);
	background-repeat:no-repeat;
	background-position:center center;
}
#button_down {
	/*background-image:url(../images/pfeil_down.png);
	background-repeat:no-repeat;
	background-position:center center;*/
}
.page-bg { /*Wäre am besten wenn Klasse an HTML angehängt wäre*/
/*

	background-attachment:fixed;*/
}


@media (min-width: 768px) {
	/* Color */
	.navbar-inverse .navbar-nav > li > a, header .collapse.in a, header .navbar-inverse .navbar-nav > .active > a, header .navbar-inverse .navbar-nav > .active > a:hover, header .navbar-inverse .navbar-nav > 	.active > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
		color: #ffffff;
	}
	.navbar-inverse .navbar-nav .dropdown > li > a, header .collapse.in .dropdown a {
		color: #000000;
	}
	/* Backgroundcolor */
	header .navbar-collapse, header .mainmenu li.active, header .mainmenu li:hover, header .mainmenu li:active, header .mainmenu li.active:hover, header .mainmenu li.active:active, header .navbar-fixed-top {
		background-color:transparent;
	}
	header .brandimage {
	    background-image:url(../images/okto_logo.svg);
	    background-repeat:no-repeat;
	    background-position:center center;
    }
	header .navbar-fixed-top {
	    background-image:url(../images/header_gradient.png);
	    background-repeat:repeat-x;
	    background-position:left top;
    }
	.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
		background-image:url(../images/menu-border.png);
	    background-repeat:repeat-x;
	    background-position:left top;
	}
	.navbar-inverse .navbar-nav.navbar-right > li > a:hover, .navbar-inverse .navbar-nav.navbar-right > .active > a, .navbar-inverse .navbar-nav.navbar-right > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
		background-image:none;
	}
	/* Border */
	header .navbar-collapse .navbar-nav {
		border-top:none;
	}
	
	/* Effects */
	header .navbar-collapse {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
		padding-top:7px;
	}
}


/* Individuelle Farben */
.head-white-color svg path,
.head-black-color svg path,
.head-white-color header .navbar-inverse .navbar-nav.mainmenu > a, .head-white-color header .mainmenu li a,
.head-black-color header .navbar-inverse .navbar-nav.mainmenu > a, .head-black-color header .mainmenu li a,
.head-white-bg .navbar-fixed-top,
.head-black-bg .navbar-fixed-top,
.head-white-color header .searchfield, .head-white-color header #dropdownMenuTags.btn-default,
.head-black-color header .searchfield, .head-black-color header #dropdownMenuTags.btn-default

 {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

/* Header hite Color Class */
.head-white-color svg path {
	fill: white;
}
.head-white-color header input.form-control, .head-white-color #dropdownMenuTags.btn-default, .head-white-color header .navbar-inverse .navbar-nav.mainmenu > .active > a, .head-white-color header .navbar-inverse .navbar-nav.mainmenu > .active > a:hover, .head-white-color header .navbar-inverse .navbar-nav.mainmenu > .active > a:focus, .head-white-color header .mainmenu li:hover a, .head-white-color header .mainmenu li:hover a:hover {
    color: white;
}
.head-white-color header input.form-control {
	color: #5a5a5a;
}
@media (min-width: 768px) {
	/* Color */
	/* Menu */
	.head-white-color .navbar-inverse .navbar-nav > li > a, .head-white-color header .collapse.in a, .head-white-color header .navbar-inverse .navbar-nav > .active > a, .head-white-color header .navbar-inverse .navbar-nav > .active > a:hover, .head-white-color header .navbar-inverse .navbar-nav > 	.active > a:focus, .head-white-color .navbar-inverse .navbar-nav > li > a:hover, .head-white-color .navbar-inverse .navbar-nav > li > a:focus {
		color: #ffffff;
	}
	.head-white-color .navbar-inverse .navbar-nav .dropdown > li > a, .head-white-color header  .collapse.in .dropdown a {
		color: #000000;
	}
	.head-white-color .navbar-inverse .navbar-nav > li > a:hover, .head-white-color navbar-inverse .navbar-nav > .active > a, .head-white-color .navbar-inverse .navbar-nav > .active > a:hover, .head-white-color .navbar-inverse .navbar-nav > .active > a:focus {
		background-image:url(../images/menu-border.png);
	    background-repeat:repeat-x;
	    background-position:left top;
	}
	.head-white-color .navbar-inverse .navbar-nav.navbar-right > li > a:hover, .head-white-color .navbar-inverse .navbar-nav.navbar-right > .active > a, .head-white-color .navbar-inverse .navbar-nav.navbar-right > .active > a:hover, .head-white-color .navbar-inverse .navbar-nav > .active > a:focus {
		background-image:none;
	}
	.head-white-color header .searchfield, .head-white-color header #dropdownMenuTags.btn-default {
		border-color: #ffffff;
	}
}

/* Header Black Color Class */
.head-black-color svg path {
	fill: black;
}
.head-black-color header input.form-control, .head-black-color #dropdownMenuTags.btn-default, .head-black-color header .navbar-inverse .navbar-nav.mainmenu > .active > a, .head-black-color header .navbar-inverse .navbar-nav.mainmenu > .active > a:hover, .head-black-color header .navbar-inverse .navbar-nav.mainmenu > .active > a:focus, .head-black-color header .mainmenu li:hover a, .head-black-color header .mainmenu li:hover a:hover {
	color: black;
}
.head-black-color header .searchfield {
	border-color:transparent;
}
.head-black-color header #dropdownMenuTags.btn-default {
	border-color: #000000;
}
@media (min-width: 768px) {
	/* Color */
	/* Menu */
	.head-black-color .navbar-inverse .navbar-nav > li > a, .head-black-color header .collapse.in a, .head-black-color header .navbar-inverse .navbar-nav > .active > a, .head-black-color header .navbar-inverse .navbar-nav > .active > a:hover, .head-black-color header .navbar-inverse .navbar-nav > .active > a:focus, .head-black-color .navbar-inverse .navbar-nav > li > a:hover, .head-black-color .navbar-inverse .navbar-nav > li > a:focus {
		color: black;
	}
	.head-black-color .navbar-inverse .navbar-nav > .active > a, .head-black-color .navbar-inverse .navbar-nav > .active > a:hover, .head-black-color .navbar-inverse .navbar-nav > .active > a:focus {
		border-bottom:solid 2px #000000;
	}
}

/* Transparent Header Background */


/* White Header Background */
.head-white-bg .navbar-fixed-top {
	background-color:#FFFFFF;
}

/* Black Header Background */
.head-black-bg .navbar-fixed-top, .head-transparent-bg .navbar-fixed-top {
	background-color:#000000;
}

/* Body  Weiße Schrift */
.body-white-color, .body-white-color a, .body-white-color a.pull-right {
	color:white;
}

@media (min-width: 768px) {
    .head-transparent-bg .navbar-fixed-top {
	    background-color:transparent;
    }
}


/****************************  Color, Effects Content ****************************/
body, .btn-default, .episode .misc a, a:hover, select.form-control, .oktothek article a.btn-default:hover, a.play-episode.btn-default:hover, .news h3 a, .pin h3 a, a .pin figcaption h3, a .like-it, .oktothek .participart-list a, .btn.like-it, #episode-tag option  {
	color:#ffffff;
}
.form-control, .oktothek article a.btn-default, .modal, button .btn-default.active, .input-group-addon, .collapseShare .btn-default {
	color:#000000;
}
a, a.more  {
	color:#13fffd;
}
.pin figcaption p a, .news p, .comments .author {
	color:#dcdcdc;
}
.news a.tag, .comments .comment-answer a {
	color:#c0fefd;
}
/* Placeholderstyles (nicht möglich zu gruppieren) */
.form-control::-moz-placeholder {
  color: #818181;
}
.form-control:-ms-input-placeholder {
  color: #818181;
}
.form-control::-webkit-input-placeholder {
  color: #818181;
}
.btn, .like-it .choosen, .episode .series a {
	color: #fcce14;
}

body, .list-group-item, .bg-opacity, select, .oktothek article a.btn-default:hover, .tagpage section.container, .preloader {
	background-color:#000000;
}
.table-striped > tbody > tr:nth-of-type(2n+1), .blog, .tagpage .container-fluid header input.form-control, .newsarchiv aside .box, .programm .schedule header.page-header {
	background-color:#757575;
}
button .btn-default.active, .oktothek article a.btn-default, .collapseShare .btn-default {
	background-color:#ffffff;
}
.oktothek .news article, .collapseShare, .collapsePlaylist, .collapseCoursedetails {
	background-color:#112022;
}
.play-episode.btn-default, .tagpage header .btn-default, .newsarchiv .label-default, .programm header .navbar-default, .programm .schedule .panel-default > .panel-heading, .programm .schedule .panel, .btn-default, .btn-primary, #episode-tag {
	background-color:transparent;
}
/* Spacelayout */
button .btn-default.but-full.active, .oktothek article a.btn-default.but-full, .input-group-addon {
	background-color:#fcce14;
}

.tags li a {
	border: solid 1px #cccccc;
}
.play-episode.btn-default, .tagpage .container-fluid header input.form-control {
	border: solid 1px #ffffff;
}
.newsarchiv article, .academy .timetable li:first-child p {
	border-top:solid 1px #ffffff;
}
.collapseShare .btn-default, .container-episode-tag {
	border:solid 2px #ffffff;
}
.academy .timetable li p {
	border-bottom:solid 1px #ffffff;
}
/* Spacelayout */
.btn-default, .btn-default.but-full:hover, .btn-primary {
	border: solid 2px #fcce14;
}
.pull-right .icon {
border: solid 2px #13fffd;
}
.programm .schedule .panel-default {
	border-top:none;
	border-left:none;
	border-right:none;
}
.form-control, .newsarchiv article:first-child, .programm header .navbar-default, header.page-header, .input-group-addon, .btn-default.btn-top, .btn-default.like-it  {
	border:none;
}
.tags li a {
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius: 4px;
}
.form-control, .navbar, .more-clips select, .play-episode.btn-default, .newsarchiv .label, .schedule .panel-heading, .programm .schedule .panel-default, .input-group-addon {
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}
/* Spacelayout */
.btn, .pull-right .icon {
	-moz-border-radius:19px;
	-khtml-border-radius:19px;
	border-radius: 19px;
}
.participart .button_container .btn {
	-moz-border-radius:25px;
	-khtml-border-radius:25px;
	border-radius: 25px;
}
/*.oktothek .participart-list li figure {
	border:#787779 dotted 1px;
	-moz-border-radius:70px;
	-khtml-border-radius:70px;
	border-radius: 70px;
}*/


/* Hintergründe */
/* Spacelayout */
hr {
	background-repeat:repeat-x;
	background-position:left center;
	background-image:url(../images/hr_bg.png);
}
section, .participart article  {
	background-repeat:no-repeat;
	background-position:bottom center;
	background-image:url(../images/section_border.png);
}
.icon-views {
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url(../images/icon_views.png);
}
.footer .socialnetworks li a, .collapseShare .socialnetworks li a, .newsarchiv aside .socialnetworks li a, .series .series-description li a {
	background-repeat:no-repeat;
	background-position:center center;
}
.series .series-description .icon-facebook, .newsarchiv aside .icon-facebook {
	background-image:url(../images/icon_facebook.png);
}
.footer .icon-facebook, .collapseShare .icon-facebook {
	background-image:url(../images/icon_facebook.svg);
}
.series .series-description .icon-twitter, .newsarchiv aside .icon-twitter {
	background-image:url(../images/icon_twitter.png);
}
.footer .icon-twitter, .collapseShare .icon-twitter {
	background-image:url(../images/icon_twitter.svg);
}
.series .series-description .icon-googleplus, .newsarchiv aside .icon-googleplus {
	background-image:url(../images/icon_googleplus.png);
}
.footer .icon-googleplus, .collapseShare .icon-googleplus {
	background-image:url(../images/icon_googleplus.svg);
}
.series .series-description .icon-instagramm, .newsarchiv aside .icon-instagramm {
	background-image:url(../images/icon_instagramm.png);
}
.footer .icon-instagramm, .collapseShare .icon-instagramm {
	background-image:url(../images/icon_instagramm.svg);
}
.series .series-description .icon-pinterest, .newsarchiv aside .icon-pinterest {
	background-image:url(../images/icon_pinterest.png);
}
.collapseShare .icon-pinterest {
	background-image:url(../images/icon_pinterest.svg);
}
.series .series-description .icon-youtube, .newsarchiv aside .icon-youtube {
	background-image:url(../images/icon_youtube.png);
}
.footer .icon-youtube, .collapseShare .icon-youtube {
	background-image:url(../images/icon_youtube.svg);
}
.pin .like-it {
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url(../images/bg_favourite.svg);
}
.participant-arrow-down {
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url(../images/icon_down_arrow.svg);
}
.oktothek .participart {
	background-image:url(../images/space.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.oktothek .participart .button_container {
	background-image:url(../images/planet_mitmachen.svg);
	background-repeat:no-repeat;
	background-position:center center;
}
.oktothek .participart-list li figure {
	background-image:url(../images/participart_circle.svg);
	background-repeat:no-repeat;
	background-position:center center;
}

.bg-bleur, .fs-image div {
	/*background-image:url(../images/dummy_bleur_bg.jpg);*/
	background-repeat:no-repeat;
	background-position:center top;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
section:last-child, section.fs-image-content {
	background-image:none;
}
.more-clips select {
	width:auto;
}
.footer .socialnetworks a, .collapseShare .socialnetworks li a {
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	border-width:0;
}

.bg-opacity {
    opacity: 0.7;       /* modern browser */
    -moz-opacity: 0.6;  /* older Mozilla browser */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* IE8 in Standard Compliant Mode */
}

.bg-bleur {
	-webkit-filter: blur(50px);
	-moz-filter: blur(50px);
	-o-filter: blur(50px);
	-ms-filter: blur(50px);
	filter: blur(50px);
}


/****************************  Color, Effects Footer ****************************/

.footer .nav > li > a, .footer .nav > li > a:active, .footer .nav > li > a:hover, #anchor-menu .panel-default > .panel-heading, .btn.btn-top:hover {
	color:#ffffff;
}
.btn.btn-top {
	color:#fcce14;
}

#anchor-menu .panel-default > .panel-heading {
	background-color:#000000;
}
.footer .nav > li > a:active, .footer .nav > li > a:hover, .btn.btn-top:hover {
	background-color:transparent;
}
footer .networks {
	background-color:#112022;
}


.btn-top .icon-top {
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url(../images/icon_top_arrow.svg);
}

.footer section {
	background-image:none;
}

#anchor-menu.panel-group .panel, .btn-top {
    -webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}
#anchor-menu.panel-group .panel, .btn-top {
	border-bottom:none;
}
#anchor-menu .panel > .list-group .list-group-item, #anchor-menu .panel > .panel-collapse > .list-group .list-group-item {
	border-width:0;
}

/****************************  Color, Effects Backend ****************************/
.panel-body {
	color:#000000;
}


/*.pin {
    border-style: dashed;
    border-color: gray;
    border-width: 2px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0;
}

.clip-pin > h1 {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.clip-pin > p {
    color: white;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

.clip-pin {
    background-color: #707070;
}

body {
    background-color: black;
    padding-top: 0px;
}
*/

/*
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #707070;
}

.active {
    text-decoration: underline;
}*/

/****************************  Weitere Formatierungen ****************************/

html, body {
	height:100%;
}
.collapsePlaylist ul, .collapsePlaylist li, .series .series-description ul, .footer ul, .footer li, .newsarchiv aside ul, .programm .schedule ul, .academy .timetable, .oktothek .participart-list li {
	list-style:none;
}
.collapsePlaylist ul, .collapsePlaylist li, .series .series-description ul, .tags ul, .newsarchiv aside ul, .programm .schedule ul, .academy .timetable, .oktothek .participart-list {
	margin-left:0;
	padding-left:0;
}
h1 {
	margin-top:0;
}
section.bg-fullscreen h2 {
	margin-top:0;
	padding-top:20px;
}
.tagpage h1 {
	margin-top:20px;
}
.series h1 {
	margin-top:0px;
}
h2 {
	margin-bottom:50px;
	margin-top:10px;
}
.footer .socialnetworks a, .collapseShare .socialnetworks li a  {
	display:inline-block;
	text-align:left;
	height:40px;
	width:40px;
	outline:0;
}
/* Space Layout */
.episode time {
	margin-bottom:50px;
}
.episode h1.name {
	margin-bottom:4px;
}
figcaption .description {
	margin-bottom:40px;
}
.newsarchiv aside .box h3:first-child {
	padding-top:0;
	margin-top:0;
}
figcaption h3, figcaption p {
	margin:0;
}
.oktothek h2, .episode h2, .series h2, .tagpage h1, .tagpage .misc, .tagpage h2, .academy h1, .academy h2, .academy .newsletter form, .subheadline {
	text-align:center;
}
.series .current-episode h2, .comments h2, figcaption h1, figcaption .subheadline {
	text-align:left;
}
figcaption  {
	margin-top:10px;
}
header.page-header .navbar {
	height:auto;
}
.icon {
	display:inline-block;
}
/* Spacelayout */
.btn {
	height:36px;
	padding:8px 16px;
}
.form-control {
	height:35px;
}
.container-episode-tag {
	position:relative;
	height:35px;
	width:200px;
	cursor:pointer;
}
.container-episode-tag .caret {
	position:absolute;
	right:8px;
	top:15px;
}

select#episode-tag {
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   left: 0;
    /*opacity: 0;*/
    position: absolute;
    top: 0;
    width: 100%;
	cursor:pointer;
}

/* Header */
header .navbar {
	height:50px;
	margin-bottom:0;
}
header .navbar-collapse {
	height:auto;
}
header .navbar .container-fluid {
	padding:0 15px;
}
header .navbar-brand {
	display:block;
}
header .navbar-brand .brandimage {
	vertical-align:top;
	width:40px;
	height:36px;
}
header .navbar-brand .brandimage span {
	margin-left:-9990px;
}
header .navbar .nav > li {
	padding:5px 10px;
}
header .navbar-brand {
	padding:10px 0;
	height:50px;
}
header .navbar .nav > li > a {
	display:inline;
	padding:0;
	/*padding:0 0 5px 0;
	vertical-align:top;*/
}
header .navbar-collapse .navbar-nav {
	margin:7.5px 0;
}
header .navbar-inverse .navbar-toggle {	/*Small Menubutton*/
	margin-top:10px;
	padding:10px;
	position:relative;
	z-index:10;
}
/*header .navbar .navbar-form {
	margin-top:-100px;
}*/
header .navbar-content {
	margin-top:-40px;
	margin-left:30px;
}
header form button[type="submit"] {
	height:35px;
	width:54px;
	float:right;
	margin-left:0;
}
header form .searchfield-container {
	position:relative;
	overflow:hidden;
	height:35px;
}
header .search-tagnav-container {
	position:absolute;
	z-index:0;
	width:100%;
	top:0px;
}
header .search-tagnav-position  {
	margin:0;
}
header .search-tagnav-position .navbar-form {
	margin-top:-1px;
}
/*header .search-tagnav-container .dropdown {
	display:none;
}*/
header .searchfield {
	margin-left:20px;
	margin-right:115px;
}
header .navbar-form input.form-control {
	display:inline;
}
header .navbar-fixed-top .collapse {
	position:relative;
	z-index:2;
}
header .dropdown-menu {
	padding:0;
}
header .dropdown-menu li a {
	padding:2px 12px;
}
header .navbar-fixed-top .navbar-toggle {
	margin-right:0;
}
#button_down span {
	display:none;
}
.bg-bleur {
	position:fixed;
	z-index:0;
	width:100%;
	height:100%;
	top:0;
}
header .icon, header .navbar-nav li a {
	line-height:30px;
	vertical-align:middle;
}
header .icon.icon-upload {
	width:20px;
	height:30px;
}
header .icon.icon-login {
	width:12px;
	height:14px;
}
/* Slider */
.carousel-caption h3, .series h1 {
	margin: 4px 0 20px 0;
}
@media (min-width: 768px) {

	header .navbar .container-fluid {
		padding:0 20px;
	}
	header .navbar > .container .navbar-brand, header .navbar > .container-fluid .navbar-brand {
    	margin-left: 0px;
	}
	header .navbar {
	    height:140px;
    }
	header .navbar-brand {
		padding:20px 0;
		height:150px;
	}
	header .navbar-brand {
		margin-right:20px;
	}
	header .navbar-content {
		margin-top:0;
		margin-left:0px;
	}
	header .navbar-collapse {
		height:90px;
	}
	header .navbar-brand .brandimage {
		width:45px;
		height:75px;
	}
	header .search-tagnav-container {
	    z-index:50;
    }
	header .searchfield {
		float:left;
		margin:0;
		width:366px;
	}
	/*header .navbar .navbar-form {
		margin-top:-110px;
	}*/
	header .navbar-form input.form-control {
		width: 300px;
		/*height:35px;*/
		padding-top:7px;
	}
	header form button[type="submit"] {
		margin-left:12px;
	}
	/*.small-tagnav { Tagmenü wird nur für mobiles Dropdownmenü angezeigt
		display:none;
	}*/
	header .search-tagnav-container .dropdown {
		/*display:block;*/
		margin-left:386px;
	}
	header .search-tagnav-container .dropdown button {
		padding-top:7px;
		height:35px;
	}
	header .navbar-collapse .navbar-nav {
		margin:0;
	}
	header .navbar .nav > li {
		padding:20px 10px 25px 10px;
	}
	header .search-tagnav-container {
		top:86px;
		width:auto;
		left:50%;
		margin-left:-223px;
	}
	header .search-tagnav-position  {
		width:526px;
		margin:0 auto;
	}
	#button_down {
		cursor:pointer;
	}
	#button_down span {
		position:absolute;
		display:inline-block;
		vertical-align:middle;
		line-height:50px;
		width:30px;
		height:45px;
		margin-left:50px;
	}
	.participant-arrow-down {
		height:45px;
	}
	#button_down span.glyphicon {
		top:auto;
	}
}

#slider, .fs-image-content {
	margin-top:-90px;
}
header + .container-fluid {
	margin-top:-90px;
}
.fullscreen-images header + .container-fluid {
	margin-top:0px;
}

/* Slider und Fullscreen Images */
.carousel-inner {
	overflow:auto;
	height:auto;
}
.carousel .item, .carousel-inner > .item > a > img, .carousel-inner > .item > img, .fs-image-content figure, .fs-image-content figure div {
    height: 100%;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img {
	min-width: 100%;
	width:auto;
}
.fs-image-content figure, .fs-image-content figure div {
	width: 100%;
}
.carousel-caption {
  z-index: 10;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img {
	max-width:none;
}
.carousel-caption, .fs-image-ident .description-wrapper {
	bottom:100px;
	width:600px;
	margin: 0 0 0 -300px;;
	text-align:left;
	padding-bottom:0;
	left:50%;
	right:0;
	position:absolute;
}
/*.carousel .active {
	display:none;
}*/
.preloader {
	width:100%;
	height:100%;
	position:absolute;
	z-index:100;
	top:0px;
	bottom:70px;
	left:0px;
	right:0px;
}

/* Fullscreen Images*/
section.fs-image-content {
	margin-bottom:0;
}
/*.fs-image-ident div.description-wrapper {
	bottom:80px;
	overflow:hidden;
}*/
.fs-image-ident {
	height:auto;
}
/*.fs-image-content figure img {
	display:none;
}*/

/* Content allgemein */
.container-fluid {
	padding:0;
}
section {
	margin-bottom:60px;
	padding-bottom:40px;
}
section.fs-image-content {
	margin-bottom:0;
	padding-bottom:0;
}
section.container, .container-fluid header, .oktothek {
	position:relative;
}
.episode .series {
	margin-bottom:0;
}
.aligncenter {
	text-align:center;
}
/* Weiter Link */
/*.more { 
	margin-top:20px;
}*/
article.pin:nth-child(2n+1) {
	    clear:none;
}
article.pin {
	margin-bottom:20px;
	width:100%;
}
.col-md-3.pin, .col-lg-3.pin, .col-sm-6.pin, .col-xs-6.pin {
	padding-left:5px;
	padding-right:5px;
}
/* Space layout*/
.pin .like-it {
	position:absolute;
	top:3px;
	right:8px;
	width:41px;
	height:41px;
	text-align:center;
	padding-top:6px;
}
.pin .like-it .glyphicon {
	display:block;
	margin-bottom:3px;
}
.pull-right .icon {
	width:38px;
	height:38px;
	text-align:center;
}



/* Oktothek */
.oktothek .participart .button_container {
	height:180px;
	width:240px;
	margin:0 auto;
}
.oktothek .participart .but-full {
	height:50px;
}
.oktothek .participart .button_container .btn {
	padding:12px 40px;
}
.oktothek .participart article p {
	margin-bottom:40px;
}
.oktothek .participart .button_container .but-full {
	margin-top:90px;
}
.oktothek .participart-list {
	text-align:center;
	display:table;
	width:auto;
	margin:10px auto 0 auto;
}
.oktothek .participart-list li {
	width:140px;
	float:left;
	margin-right:10px;
}
/* Spacelayout */
.oktothek .participart-list li figure {
	width:140px;
	height:140px;
	vertical-align:middle;
	text-align:center;
	line-height:140px;
	margin-bottom:20px;
}
.oktothek .participart-list li:last-child {
	margin-right:0px;
}
.oktothek .participart article {
	padding-bottom:40px;
}
.oktothek article {
	position:relative;
}
.episode article, .more-clips article {
	margin-top:40px;
}
.episode article time[pubdate="pubdate"] {
	display:block;
}
.icon-views {
	display:inline-block;
	height:15px;
	width:20px;
}
.episode .misc a, .episode .misc span.views {
	margin-right:10px;
}
figure.pin img, .programm .schedule img {
	width:100%;
	max-width:100%;
	float:none;
	height:auto;
	margin:0 auto;
}
.tags li {
	display:inline;
	padding-right:5px;
}
.tags li a {
	display:inline-block;
	white-space: nowrap;
	padding:6px 12px;
	vertical-align:middle;
	text-align:center;
}
.news h3 {
	margin-top:0;
	margin-bottom:20px;
}
.news .col-md-3.pin, .news .col-lg-3.pin, .news .col-sm-6.pin, .news .col-xs-6.pin {
	padding-left:15px;
	padding-right:15px;
}
.news article.pin {
	margin-bottom:2px;
	padding-top:15px;
	padding-bottom:15px;
}


/* Tooltips */
.tooltip-inner {
	text-align:left;
}

/* Kommentare */
.comments {
	padding-top:40px;
	padding-bottom:40px;
}
.answer-text {
	padding-left:40px;
}
.comments article, .answer-text {
	margin-top:20px;
}
.comments h2:first-child {
	margin-top:0;
}
.comments .answer {
	cursor:pointer;
}
.comment {
	margin-left:40px;
	margin-bottom:40px;
}

/* Sharing und Playlistfenster*/
.collapseShare, .collapsePlaylist, .collapseCoursedetails {
	margin:40px 0;
	padding:20px;
}
#collapseShare input.form-control, .collapsePlaylist input.form-control {
	width:600px;
}
.collapsePlaylist .input-group-btn {
	width:auto;
}
.collapseShare .btn-group {
	margin-bottom:40px;
}
.collapseShare .socialnetworks, .collapseShare .helptext {
    margin-left:0;
	padding-left:0;
	display:inline;
}
.collapseShare .helptext {
    margin-left:0;
	padding-left:15px;
	display:inline;
}
.collapseShare .socialnetworks li {
    display: inline;
}
.collapseShare div {
    vertical-align:middle;
	line-height:35px;
}
.collapseShare .socialnetworks a {
    display: inline-block;
    height: 30px;
    outline: 0 none;
    text-align: left;
    width: 30px;
}
.collapseShare .share-buttons {
	text-align:left;
}
#div_share_sn form, .collapsePlaylist form {
	margin-top:20px;
}
.collapsePlaylist ul {
	display:table;
	margin-top:40px;
}
.collapsePlaylist li {
	display:table-row;
}
.collapsePlaylist li button, .collapsePlaylist li span {
	display:table-cell;
}
.collapsePlaylist li button {
	width:100px;
}
.collapsePlaylist li span {
	padding-left:10px;
}

/* Serien */
.fs-image-content, .fs-image-ident, .content-opacity {
	position:relative;
}
.series .play-episode, .container-bg-opacity {
	position:absolute;
}
/*.fs-image-content .description-wrapper {
	position:static;
}*/
.container-bg-opacity {
	z-index:0;
	width:100%;
	height:100%;
}
.bg-opacity {
	margin-right:15px;
	height:100%;
}
.content-opacity {
	padding:15px;
	z-index:1;
}
.series .series-description article, .series .series-description aside {
	display:block;
	vertical-align:top;
}
.series .series-posterframe img {
	max-width:250px;
	height:auto;
}
.series .series-description .misc {
	margin-top:40px;
}
.series .series-description ul {
	margin-top:10px;
}
.series .series-description .socialnetworks li {
	display:inline;
}
.series .series-description .socialnetworks a {
	display:inline-block;
    height: 30px;
    outline: 0 none;
    text-align: left;
    width: 30px;
}
.play-episode {
/*	top:50%;
	left:50%;
	margin-top:-25px;
	margin-left:-25px;*/
}
.play-episode.btn-default {
/*	width:50px;
	height:50px;
	padding:0;
	line-height:50px;
	vertical-align:middle;
	text-align:center;*/
}

/* Überschriften für Barrierefreundlichkeit */
.collapseShare .socialnetworks a span, .series .series-description .socialnetworks a span, #collapseShare h3 {
    margin-left: -9990px;
}
.collapseShare h3 {
	display:inline;
}

/* Tags */
.tagpage .container-fluid header {
	margin-bottom:40px;
	margin-top:40px;
}
.tagpage section {
	margin-bottom:0px;
	padding-bottom:80px;
}
.tagpage section.inc-pins {
	padding-bottom:65px;
}
.tagpage article.pin {
	position:relative;
}
.tagpage figcaption {
	position:absolute;
	bottom:0;
	padding-left:5px;
}
.tagpage section .row  {
	padding-bottom:15px;
}
.tagpage article.pin {
	padding-right:0;
}
.tagpage article.first-pin {
	padding-left:30px;
}
.tagpage .small-pins article {
	padding-left:15px;
}
.tagpage .small-pins article:last-child {
	padding-left:8px;
}
.tagpage header {
	text-align:center;
}
.tagpage h1, .tagpage .misc {
	display:inline-block;
}
.tagpage .misc {
	line-height:36px;
	vertical-align:middle;
	margin-left: 40px;
}

/* News */
.newsarchiv .page-header {
	padding-bottom:0;
}
.newsarchiv .label {
    display: inline;
    padding: 0;
    text-align: left;
}
.newsarchiv aside {
	padding-top:15px;
}
.newsarchiv aside .box {
	padding:15px;
}
.newsarchiv aside .box, .news .filter-news {
    margin-bottom:40px;
}
.newsarchiv aside .socialnetworks li {
	display:inline;
}
.newsarchiv aside .socialnetworks a span {
	margin-left:-9990px;
}
.newsarchiv aside .socialnetworks a {
	display:inline-block;
	text-align:left;
	height:30px;
	width:30px;
	outline:0;
}

/* TV */
.programm {
	margin-top:40px;
}
.programm header.page-header #nav-programm, .programm .schedule header {
	width:100%;
}
.programm header.page-header nav, .programm .schedule header {
	display:table;
}
.programm header.page-header nav, .programm .schedule header {
	margin-left:-15px;
}
.programm header.page-header .row, .programm .schedule #page-header-content {
	display:table-row;
	width:100%;
}
.programm .schedule header.page-header {
	padding-bottom:0;
}
.programm .schedule .row {
	margin-right:15px;
}
.programm .schedule header.page-header div {
	padding:2px;
}
.programm header.page-header time {
	line-height:34px;
}
.programm header.page-header h1, .programm .schedule header h2 {
	display:inline;
}
.programm .schedule .panel-heading time {
	display:inline-block;
	width:10%;
}
.programm .schedule .panel-collapse {
	margin-left:10%;
	padding: 0 15px;
}
.programm header.page-header .navbar-nav, .programm .schedule header .page-header-content div {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	float:none;
}
.programm header.page-header .navbar-nav:first-child, .programm .schedule header .page-header-content div:first-child {
	width:10%;
	text-align:left;
}
.programm header.page-header .navbar-nav:last-child, .programm .schedule header .page-header-content div:last-child {
	width:10%;
	text-align:right;
}
.programm header.page-header .navbar {
	min-height:34px;
}
.programm button {
	vertical-align:middle;
	margin:0;
}
.programm button.today {
	margin-left:20px;
}
.programm p.current-episode {
	margin-bottom:0;
}
.programm p.current-episode + h2 {
	margin-top:0;
}
.programm .schedule h4 {
	margin:0;
}
.programm .posterframe {
	float:right;
}

/* Academy */
.academy .newsletter label {
	display:block;
}
.academy .newsletter .input-group, .academy .newsletter .input-group-btn {
	width:auto;
}
.academy .newsletter .form-control {
	width:300px;
}
.academy .newsletter .input-group {
	margin:0 auto;
}
.academy-content .content-opacity {
	display:table-row;
}
.academy-content .content-opacity div {
	display:table-cell;
	vertical-align:top;
}
.academy-content .content-opacity div:first-child {
	padding-left:15px;
}
.academy-content .misc {
	width:180px;
	padding-top:70px;
}
.academy .timetable {
	width:100%;
	display:table;
}
.academy .timetable li {
	line-height:2em;
	display:table-row;
}
.academy .timetable p {
	display:table-cell;
}
.academy .timetable li p {
	vertical-align:middle;
	padding:2px;
}
.academy .timetable li p:last-child {
	vertical-align:bottom;
	text-align:right;
}
.academy .timetable span {
	display:inline-block;
	width:120px;
}
.academy section .collapse {
	width: 100%;
	clear:left;
}
.academy section .collapse-content {
	padding-bottom:60px;
}
.academy .pin figure div.image-container {
	position:relative;
}
.academy .pin figure div.image-container .preview-button {
	position:absolute;
	bottom:0;
	text-align:center;
	width:100%;
	padding:15px 0;
}

@media (min-width: 580px) {
	article.pin {
		width:50%;
	}
	.news article.pin {
		width:100%;
	}
    figure.pin img, .programm .schedule img {
	    /*width:260px;*/
	    height:auto;
	    margin:0;
		float:none;
    }
	article.pin:nth-child(2n+1) {
	    clear:left;
    }
	article.pin {
		margin-bottom:0px;
		padding-bottom:30px;
	}
	.academy section .collapse {
	    width: 100%;
		padding-bottom:60px;
    }
}
@media (min-width: 768px) {
	#slider, .fs-image-content {
	    margin-top:-140px;
    }
	header + .container-fluid {
		margin-top:0;
	}
	/*.fs-image-content .description-wrapper {
	    position:absolute;
    }
	.fs-image-ident div.description-wrapper {
		left:50%;
        margin-left:-375px;
	}*/
	.series .series-description article, .series .series-description aside {
	    display:table-cell;
		vertical-align:top;
    }
	.series .series-description aside {
        width:250px;
    }
	.fs-image-ident {
		overflow:hidden;
	}
	.carousel-inner {
		overflow:hidden;
	}
}
@media (min-width: 992px) {
	/*.fs-image-ident div.description-wrapper {
        margin-left:-485px;
	}*/
	article.pin:nth-child(2n+1) {
	    clear:none;
    }
	article.pin {
		width:25%;
	}
	.news article.pin {
		width:100%;
	}
	/*.academy .collapse {
	    width: 970px;
	}*/


}
@media (min-width: 1200px) {
    /*.fs-image-ident div.description-wrapper {
	    margin-left:-585px;
    }*/
	/*.academy .collapse {
	    width: 1170px;
	}*/
}


/* Footer */
.footer {
	height:350px;
	width:100%;
}
.footer .container {
	margin:0 auto;
}
.footer .partner {
	text-align:right;
}
.footer section {
	padding-top:120px;
	margin-bottom:0;
}
.footer nav, .footer section.partner {
	padding-top:35px;
	margin-bottom:0;
	height:130px;
}
.footer nav ul {
	width:auto;
}
.footer nav ul li {
	line-height:95px;
	vertical-align:middle;
}
.footer .nav > li, .footer .nav > li > a, .footer .partner li {
	display:block;
}
.footer .networks div.col-md-6 ul {
	padding-top:22px;
}
.footer .networks h3 {
	margin-top:0;
}
.footer .networks div.col-md-6, .footer .networks div.col-md-6:first-child {
	text-align:center;
}
.footer .input-group {
	width:200px;
	margin:0 auto;
}
.footer .socialnetworks li {
	display:inline;
}
.footer .socialnetworks a span {
	margin-left:-9990px;
}
.btn-top .icon-top {
	height:25px;
	width:22px;
}
footer .networks {
	height:220px;
}
#anchor-menu {
	position:fixed;
	z-index:100;
	left:50%;
	bottom:-35px;
	margin-left:-110px;
	display:none;
	cursor:pointer;
	width:220px;
}
#anchor-menu.panel-group {
	margin-bottom:0;
}
#anchor-menu .panel-heading {
	height:50px;
	padding:0;
}
#anchor-menu .panel-heading a {
	padding: 2px;
	display:block;
	width:220px;
	height:50px;
}
#anchor-menu .panel-title {
	line-height:46px;
	vertical-align:middle;
	text-align:center;
}
.btn.btn-top {
	padding:0;
	height:auto;
	text-align:center;
}
.btn.btn-top .icon {
	display:block;
	margin:0 auto;
}
#anchor-menu .panel-title {
	width:220px;
}
.btn-top {
	display:block;
	margin:0 auto;
}
#anchor-menu .panel-heading .glyphicon, .btn-top .glyphicon {
	margin-left:5px;
	vertical-align:middle;
}
#anchor-menu .list-group-item {
	padding-top:5px;
	padding-bottom:5px;
}

@media (min-width: 768px) {
	.footer .nav > li, .footer .nav > li > a, .footer .partner li {
		display:inline;
	}
	.footer .partner li {
		margin-left:40px;
	}
	.footer .partner li:first-child {
		margin-left:0px;
	}
	.footer .networks div.col-md-6 {
		vertical-align:bottom;
	}
	.footer .networks div.col-md-6 {
		text-align:left;
	}
	.footer .networks div.col-md-6:first-child {
	    text-align:right;
	}
	.footer .input-group {
	    width:300px;
	    margin:0;
	}
}



/* Backend */
body .panel, .bootstrap .datetimepicker .widget a {
	color:#000;
}



/* für Clickdummy: */
.dummybox {
	min-height:200px;
	background-color:#757575;
	padding:20px;
	color:#ffffff;
}

.tagpage .first-pin figure.pin img {
	width:540px;
	height:auto;
}
.tagpage figure.pin img {
	width:255px;
	height:auto;
}
