/* in anderes CSS verschieben!!!*/
body {
    padding-top: 180px;
}

/* Fonts */
header .collapse.in h3 {
	font-size:14px;
}
.carousel-caption {
	font-size:20px;
}
header .navbar-nav a, header #dropdownMenuTags.btn-default {
	text-transform:uppercase;
}
@media (min-width: 768px) {
	.carousel-caption {
		font-size:30px;
	}
}

/****************************** Color, Effects ******************************/

/* Header*/

/* Basic Color */
/* Menu*/
header input.form-control, #dropdownMenuTags.btn-default, header .navbar-inverse .navbar-nav.mainmenu > .active > a, header .navbar-inverse .navbar-nav.mainmenu > .active > a:hover, header .navbar-inverse .navbar-nav.mainmenu > .active > a:focus, header .mainmenu li:hover a, header .mainmenu li:hover a:hover {
    color: white;
}

/* Placeholderstyles (nicht möglich zu gruppieren) */
header .form-control::-moz-placeholder { 
  color: #fff;
}
header .form-control:-ms-input-placeholder {
  color: #fff;
}
header .form-control::-webkit-input-placeholder {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a, header .collapse.in a, header .navbar-inverse .navbar-nav > .active > a, header .navbar-inverse .navbar-nav > .active > a:hover, header .navbar-inverse .navbar-nav > .active > a:focus, header .navbar-inverse .navbar-nav > a:focus, header .navbar-inverse .navbar-nav > a:hover, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #333333;
}

/* Backgroundcolor */

/* Header */
.navbar-inverse, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .footer, header form button[type="submit"], header input.form-control, header #dropdownMenuTags.btn-default, header #dropdownMenuTags.btn-default:hover, header #dropdownMenuTags.btn-default:focus, header #dropdownMenuTags.btn-default:active, header #dropdownMenuTags.btn-default.active, .open > header #dropdownMenuTags.dropdown-toggle.btn-default {
    background-color: transparent;
}
header .searchfield {
	background-color:#757575;
}
header .navbar-toggle, header .navbar-inverse .navbar-toggle:hover .icon-bar, header .navbar-inverse .navbar-toggle:focus .icon-bar, header .navbar-collapse {
	background-color:#ffffff;
}
header .navbar-inverse .navbar-toggle .icon-bar, header .mainmenu li.active, header .mainmenu li:hover, header .mainmenu li:active, header .mainmenu li.active:hover, header .mainmenu li.active:active {
	background-color:#333333;
}

/* Border */

/* Header */
.navbar-inverse, header input.form-control, header input.form-control:focus, .navbar-inverse .navbar-form, header .navbar-inverse .navbar-toggle, header .navbar-inverse .navbar-collapse, header .navbar-inverse .navbar-form {
    border-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	border-bottom:none
}
header .searchfield, header #dropdownMenuTags.btn-default {
	border:solid 1px #ffffff;
}
header .navbar-collapse .navbar-nav {
	border-top:solid 1px #cccccc;
}
header .navbar-collapse .navbar-nav:first-child {
	border-top:none;
}
header #dropdownMenuTags.btn-default, header .dropdown-menu, header .navbar-form input.form-control {
	border-radius:0px;
}

/* Effects */

/* Header */
header input.form-control:focus {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
header .navbar-collapse {
	-webkit-box-shadow: 5px 5px 20px grey;
	-moz-box-shadow: 5px 5px 20px grey;
	box-shadow: 5px 5px 20px grey;
}
header .dropshadow {
	-webkit-box-shadow: 2px 2px 5px grey;
	-moz-box-shadow: 2px 2px 5px grey;
	box-shadow: 2px 2px 5px grey;
}
.carousel-caption {
	text-shadow: none;
}

/* Backgroundimages */

/* Header */
.navbar-brand object .brandimage {
	background-image:url(../images/logo_okto_white_90.png);
	background-repeat:no-repeat;
}
header form button[type="submit"], header form button[type="submit"].btn:active {
	background-image:url(../images/icon_search.png);
	background-repeat:no-repeat;
	background-position:center center;
}


@media (min-width: 768px) {
	/* Color */
	.navbar-inverse .navbar-nav > li > a, header .collapse.in a, header .navbar-inverse .navbar-nav > .active > a, header .navbar-inverse .navbar-nav > .active > a:hover, header .navbar-inverse .navbar-nav > 	.active > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
		color: #ffffff;
	}
	/* Backgroundcolor */
	header .navbar-collapse, header .mainmenu li.active, header .mainmenu li:hover, header .mainmenu li:active, header .mainmenu li.active:hover, header .mainmenu li.active:active {
		background-color:transparent;
	}
	/* Border */
	header .navbar-collapse .navbar-nav {
		border-top:none;
	}
	.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
		border-bottom:solid 2px #ffffff;
	}
	/* Effects */
	header .navbar-collapse {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}


/* Individuelle Farben */
.head-white-color svg path, 
.head-black-color svg path,
.head-white-color header .navbar-inverse .navbar-nav.mainmenu > a, .head-white-color header .mainmenu li a,
.head-black-color header .navbar-inverse .navbar-nav.mainmenu > a, .head-black-color header .mainmenu li a,
.head-white-bg .navbar-fixed-top,
.head-black-bg .navbar-fixed-top,
.head-white-color header .searchfield, .head-white-color header #dropdownMenuTags.btn-default,
.head-black-color header .searchfield, .head-black-color header #dropdownMenuTags.btn-default

 {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

/* Header hite Color Class */
.head-white-color svg path {
	fill: white;
}
.head-white-color header input.form-control, .head-white-color #dropdownMenuTags.btn-default, .head-white-color header .navbar-inverse .navbar-nav.mainmenu > .active > a, .head-white-color header .navbar-inverse .navbar-nav.mainmenu > .active > a:hover, .head-white-color header .navbar-inverse .navbar-nav.mainmenu > .active > a:focus, .head-white-color header .mainmenu li:hover a, .head-white-color header .mainmenu li:hover a:hover {
    color: white;
}
@media (min-width: 768px) {
	/* Color */
	/* Menu */
	.head-white-color .navbar-inverse .navbar-nav > li > a, .head-white-color header .collapse.in a, .head-white-color header .navbar-inverse .navbar-nav > .active > a, .head-white-color header .navbar-inverse .navbar-nav > .active > a:hover, .head-white-color header .navbar-inverse .navbar-nav > 	.active > a:focus, .head-white-color .navbar-inverse .navbar-nav > li > a:hover, .head-white-color .navbar-inverse .navbar-nav > li > a:focus {
		color: #ffffff;
	}
	.head-white-color navbar-inverse .navbar-nav > .active > a, .head-white-color .navbar-inverse .navbar-nav > .active > a:hover, .head-white-color .navbar-inverse .navbar-nav > .active > a:focus {
		border-bottom:solid 2px #ffffff;
	}
	.head-white-color header .searchfield, .head-white-color header #dropdownMenuTags.btn-default {
		border-color: #ffffff;
	}
}

/* Header Black Color Class */
.head-black-color svg path {
	fill: black;
}
.head-black-color header input.form-control, .head-black-color #dropdownMenuTags.btn-default, .head-black-color header .navbar-inverse .navbar-nav.mainmenu > .active > a, .head-black-color header .navbar-inverse .navbar-nav.mainmenu > .active > a:hover, .head-black-color header .navbar-inverse .navbar-nav.mainmenu > .active > a:focus, .head-black-color header .mainmenu li:hover a, .head-black-color header .mainmenu li:hover a:hover {
	color: black;
}
.head-black-color header .searchfield {
	border-color:transparent;
}
.head-black-color header #dropdownMenuTags.btn-default {
	border-color: #000000;
}
@media (min-width: 768px) {
	/* Color */
	/* Menu */
	.head-black-color .navbar-inverse .navbar-nav > li > a, .head-black-color header .collapse.in a, .head-black-color header .navbar-inverse .navbar-nav > .active > a, .head-black-color header .navbar-inverse .navbar-nav > .active > a:hover, .head-black-color header .navbar-inverse .navbar-nav > .active > a:focus, .head-black-color .navbar-inverse .navbar-nav > li > a:hover, .head-black-color .navbar-inverse .navbar-nav > li > a:focus {
		color: black;
	}
	.head-black-color .navbar-inverse .navbar-nav > .active > a, .head-black-color .navbar-inverse .navbar-nav > .active > a:hover, .head-black-color .navbar-inverse .navbar-nav > .active > a:focus {
		border-bottom:solid 2px #000000;
	}
}

/* Transparent Header Background */
.head-transparent-bg .navbar-fixed-top {
	background-color:transparent;
}

/* White Header Background */
.head-white-bg .navbar-fixed-top {
	background-color:#FFFFFF;
}

/* Black Header Background */
.head-black-bg .navbar-fixed-top {
	background-color:#000000;
}

/*Carousell*/
/*.carousel-caption.black-bg {
	color:#ffffff;
}*/

/* Footer */
.footer {
    border-top: dashed gray 2px;
}


/*.pin {
    border-style: dashed;
    border-color: gray;
    border-width: 2px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0;
}

.clip-pin > h1 {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.clip-pin > p {
    color: white;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

.clip-pin {
    background-color: #707070;
}

body {
    background-color: black;
    padding-top: 0px;
}
*/

/*
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #707070;
}

.active {
    text-decoration: underline;
}*/

/* Header */
header .navbar {
	height:180px;
	margin-bottom:0;
}
header .navbar-collapse {
	height:auto;
}
header .navbar .container-fluid {
	padding:0 15px;
}
header .navbar-brand {
	display:block;
}
header .navbar-brand, header .navbar-brand object {
	vertical-align:top;
	width:60px;
}
header .navbar-brand object {
	height:100px;
}
header .navbar-brand object .brandimage span {
	margin-left:-9990px;
}
header .navbar .nav > li {
	padding:5px 10px;
}
header .navbar-brand {
	padding:10px 0;
	height:100px;
}
header .navbar .nav > li > a {
	display:inline;
	padding:0 0 5px 0;
	vertical-align:top;
}
header .navbar-collapse .navbar-nav {
	margin:7.5px 0;
}
header .navbar-inverse .navbar-toggle {	/*Small Menubutton*/
	margin-top:10px;
	padding:10px;
	position:relative;
	z-index:10;
}
/*header .navbar .navbar-form {
	margin-top:-100px;
}*/
header .navbar-content {
	margin-top:-40px;
}
header form button[type="submit"] {
	height:34px;
	width:54px;
	float:right;
	margin-left:0;
}
header form .searchfield-container {
	position:relative;
	overflow:hidden;
	height:34px;
}
header .search-tagnav-container {
	position:absolute;
	z-index:1;
	width:100%;
	top:0px;
}
header .search-tagnav-position  {
	margin:0;
}
header .search-tagnav-position .navbar-form {
	margin-top:-1px;
}
header .search-tagnav-container .dropdown {
	display:none;
}
header .searchfield {
	margin-left:75px;
	margin-right:105px;
}
header .navbar-form input.form-control {
	display:inline;
}
header .dropdown-menu {
	padding:0;
}
header .dropdown-menu li a {
	padding:2px 12px;
}
@media (min-width: 768px) {
	
	header .navbar .container-fluid {
		padding:0 50px;
	}
	header .navbar-brand {
		padding:25px 0;
		height:200px;
	}
	header .navbar-brand {
		margin-right:40px;
	}
	header .navbar-content {
		margin-top:0;
	}
	header .navbar-collapse {
		height:90px;
	}
	header .navbar-brand, header .navbar-brand object {
		width:90px;
	}
	header .navbar-brand object {
		height:150px;
	}
	header .searchfield {
		float:left;
		margin:0;
		width:366px;
	}
	/*header .navbar .navbar-form {
		margin-top:-110px;
	}*/
	header .navbar-form input.form-control {
		width: 300px;
	}
	header form button[type="submit"] {
		margin-left:12px;
	}
	/*.small-tagnav { Tagmenü wird nur für mobiles Dropdownmenü angezeigt
		display:none;
	}*/
	header .search-tagnav-container .dropdown {
		display:block;
		margin-left:406px;
	}
	header .navbar-collapse .navbar-nav {
		margin:0;
	}
	header .navbar .nav > li {
		padding:25px 10px;
	}
	header .search-tagnav-container {
		top:116px;
	}
	header .search-tagnav-position  {
		width:526px;
		margin:0 auto;
	}
}


/* Slider */
#slider {
	margin-top:-180px;  /* Ausbessern sobald eigene Bodyclass vorhanden */
}
/*.carousel img {
    min-width: 100%;
}*/
.carousel .item {
  min-width: 100%;
  height: 100%;
}
.carousel-inner > .item > img {
  min-width: 100%;
  height: 100%;
}
.carousel-caption {
  z-index: 10;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img {
	max-width:none;
}
.carousel-caption {
	left:5%;
	right:5%;
	text-align:left;
}