@charset "UTF-8";
/* CSS Document */


@keyframes new-playlist { 
  0% { 
    color: #d1418f;
  } 
  70% { 
    color: #d1418f;
  }
  100% { 
    color: #fcce14;
  }
}

.newplaylist button + span {
   animation: new-playlist;
   animation-timing-function: linear;
   animation-duration: 4s;
   animation-iteration-count: initial;
}


body.episode article {
    position:relative;
}
body.episode #player + article, body.more-clips article, body.playlists .description-container article {
	margin-top:40px;
}
body.episode article time[pubdate="pubdate"], body.playlists article time[pubdate="pubdate"] {
	display:block;
}
.icon-views {
	display:inline-block;
	height:15px;
	width:20px;
}
body.episode ul.misc li {
    float:left;
    display: block;
}
body.episode .backend + li {
    clear:left;
}
body.episode ul.misc li.favorite-icon {
    padding-right:7px;
}
body.episode .misc a, body.episode .misc span.views {
	margin-right:10px;
}
body.episode .misc {
	padding-bottom:0px;
    text-align: left;
}
body.episode ul.misc {
	margin-bottom:0;
}
body.episode #favorite {
    padding-left:2px;
}
body.episode #ButtonPlaylist, body.episode #ButtonShare {
    padding-left:8px;
    padding-right:8px;
}
@media (min-width: 768px) {
    body.episode ul.misc li {
        display:inline;
        float: none;
    }
    body.episode .backend + li {
        clear:none;
    }
    body.episode ul.misc li.favorite-icon {
	    padding-right:20px;
    }
    body.episode .misc {
	    padding-bottom:20px;
    }
    body.episode p.misc {
	    margin-bottom:10px;
    }
    .tags .col-lg-1 {
        width: auto;
    }
}