@charset "UTF-8";
/* CSS Document */
body.episode article {
    position:relative;
}
body.episode #player + article, body.more-clips article, body.playlists .description-container article {
	margin-top:40px;
}
body.episode article time[pubdate="pubdate"], body.playlists article time[pubdate="pubdate"] {
	display:block;
}
.icon-views {
	display:inline-block;
	height:15px;
	width:20px;
}
body.episode ul.misc li {
    display:inline;
}
body.episode ul.misc li.favorite-icon {
    padding-right:7px;
}
body.episode .misc a, body.episode .misc span.views {
	margin-right:10px;
}
body.episode .misc {
	padding-bottom:0px;
    text-align: left;
}
body.episode ul.misc {
	margin-bottom:0;
}
body.episode #favorite {
    padding-left:2px;
}
body.episode #ButtonPlaylist, body.episode #ButtonShare {
    padding-left:8px;
    padding-right:8px;
}
@media (min-width: 768px) {
    body.episode ul.misc li.favorite-icon {
	    padding-right:20px;
    }
    body.episode .misc {
	    padding-bottom:20px;
    }
    body.episode p.misc {
	    margin-bottom:10px;
    }
}