@charset "UTF-8";
/* CSS Document */

/* Slider und Fullscreen Images */
.carousel-caption, .fs-image-ident .description-wrapper, .playlists .description-wrapper, .preloader {
	position:absolute;
}
.fs-image-content, .fs-image-ident, .content-opacity {
	position:relative;
}
.preloader {
	bottom:70px;
}
.carousel-caption {
	bottom:0px;
}
.fs-image-ident .description-wrapper, .playlists .description-wrapper {
	bottom:20px;
}
.carousel-indicators {
	bottom:0;
}
.carousel-caption, .fs-image-ident .description-wrapper, .playlists .description-wrapper {
	right:0;
}
.preloader {
	top:0px;
	left:0px;
}
.carousel-caption, .fs-image-ident .description-wrapper, .playlists .description-wrapper {
	left:5%;
}
.fs-image-content figure, .fs-image-content figure div, .preloader {
	width: 100%;
}
.carousel-caption, .fs-image-ident .description-wrapper, .playlists .description-wrapper {
	width:90%;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img {
	min-width: 100%;
	width:auto;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img {
	max-width:none;
}
.carousel-inner, .fs-image-ident {
	height:auto;
}
.carousel .item, .carousel-inner > .item > a > img, .carousel-inner > .item > img, .fs-image-content figure, .fs-image-content figure div, .preloader {
    height: 100%;
}
.carousel-caption h3, .carousel-caption, .fs-image-ident .description-wrapper, .playlists .description-wrapper {
	margin: 0;
}
.fullscreen-images header + .container-fluid, section.bg-fullscreen h2 {
	margin-top:0px;
}
section.fs-image-content, section.fs-image-content {
	margin-bottom:0;
}
.carousel figcaption p {	 
    margin:2px 0 10px 0;
}
.fs-image-content figcaption p {	 
    margin:2px 0 2px 0;
}
#slider, .fs-image-content {
	margin-top:-90px;
}
.content-opacity {
	margin-right:15px;
    padding:0 15px 15px 15px;
}
section.fs-image-content, .carousel-caption, .fs-image-ident .description-wrapper, .playlists .description-wrapper {
	padding-bottom:0;
}

section.fs-image-content + section header.page-header  {
	margin-top:0;
}
section.bg-fullscreen h2, section.fs-image-content + section header.page-header  {
	padding-top:20px;
}
.carousel-caption, .fs-image-ident .description-wrapper, .playlists .description-wrapper {
	padding-top:10px;
}
/*.academy-content .content-opacity div:first-child {
	padding-left:15px;
}*/
.carousel-inner {
	overflow:hidden;
}
.fs-image-ident .description-wrapper.details, .playlists .description-wrapper.details {
	overflow:auto;
	background-color:#000;
}
.content-opacity {
	z-index:1;
}
.carousel-caption, .fs-image-ident .description-wrapper, .playlists .description-wrapper {
    z-index: 10;
}
.fs-image-ident .facts {
	text-align:center;
}
.preloader {
	z-index:100;
}
.fs-image-ident .description-wrapper .more, .playlists .description-wrapper .more {
	text-align:center;
	padding-top:5px;
}
.fs-image-ident .description-wrapper.details .more, .playlists .description-wrapper.details .more {
	padding-top:10px;
}
.fs-image-ident .description-wrapper a.pull-right, .playlists .description-wrapper a.pullright {
	float:none !important;
}
.carousel-caption {
	text-align:left;
}
.carousel-control {
    width: 10%;
}
body.oktothek .carousel-control.left span::before, body.oktothek .carousel-control.right span::before {
    content:" ";
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    width:30px;
    height:30px;
}
.carousel-indicators {
    display: none;
}
/*.academy-content .content-opacity div {
	display:table-cell;
	vertical-align:top;
}*/
#button_down span, .fs-image-content .facts, .fs-image-content figcaption .misc, .fs-image-content .description {
	display:none;
}
.fs-image-misc-mobile {
	display:block;
	text-align:center;
	padding:20px 0 40px 0;
}
.fs-image-content .details .description {
    display: block;
}
.fs-image-content figcaption h1 {
	margin-bottom:0px;
}
.fs-image-content figcaption.details h1 {
    margin-bottom:20px;
}
@media (min-width: 401px) {
	.fs-image-ident .description-wrapper a.pull-right, .playlists .description-wrapper a.pull-right {
	    float:right !important;
    }
	.fs-image-ident .description-wrapper .more, .playlists .description-wrapper .more {
		text-align:left;
	    padding-top:0px;
    }
	.fs-image-ident .description-wrapper, .playlists .description-wrapper {
	    bottom:30px;
    }
    .fs-image-content .description {
        display: block;
    }
    .fs-image-content figcaption h1 {
	    margin-bottom:20px;
    }
    .fs-image-content figcaption p {	 
        margin:2px 0 10px 0;
    }
    .fs-image-ident .description-wrapper .more, .playlists .description-wrapper .more {
        padding-bottom:5px;
    }
}
@media (min-width: 768px) and (min-height: 501px) {
	.fs-image-ident .facts {
	    text-align:left;
	}
    .fs-image-ident .description-wrapper .more, .playlists .description-wrapper .more {
        padding-bottom:0;
    }
}
@media (min-width: 768px) and (max-height: 600px) {
	.carousel-caption, .fs-image-ident .description-wrapper, .playlists .description-wrapper {
	    bottom:30px;
	    width:650px;
	    margin: 0 0 0 -325px;
		padding-top:20px;
	    left:50%;
	    right:0;
        bottom:40px;
	}
}
@media (min-width: 768px) and (min-height: 601px) {
	.carousel-caption, .fs-image-ident .description-wrapper, .playlists .description-wrapper {
	    bottom:90px;
	    width:650px;
	    margin: 0 0 0 -325px;
		padding-top:20px;
	    left:50%;
	    right:0;
	}
    .carousel-control {
        display:none;
    }
}
@media (min-width: 768px) {
	
	.carousel-caption h3, .series h1 {
	    margin: 4px 0 20px 0;
    }
    .content-opacity {
        padding:15px;
    }
	
	.carousel-indicators {
	    bottom:10px;
        display: block;
    }
	#slider, .fs-image-content {
	    margin-top:-140px;
    }
	.fs-image-ident {
		overflow:hidden;
	}
	#button_down {
		cursor:pointer;
	}
    h2#button_down {
        vertical-align:bottom;
        margin-top:10px;
        margin-bottom:40px;
	}
	#button_down span {
		position:absolute;
		display:inline-block;
		vertical-align:bottom;
		line-height:50px;
		width:30px;
		height:45px;
		margin-left:50px;
        margin-top:-13px;
	}
	.participant-arrow-down {
		height:45px;
	}
	#button_down span.glyphicon {
		top:auto;
	}
	.fs-image-misc-mobile, .fs-image-misc-mobile .misc {
		display:none;
	}
	.fs-image-content .facts, .fs-image-content figcaption .misc {
		display:block;
	}
}