@charset "UTF-8";
/* CSS Document */
body.news h1 {
    text-align:left;
}
.news h3 {
	margin-top:0;
	margin-bottom:20px;
}

/* News */
body.newsarchiv aside ul, body.news aside ul {
	list-style:none;
}
body.newsarchiv aside ul, body.news aside ul {
	margin-left:0;
	padding-left:0;
}
body.newsarchiv aside .box h3:first-child, body.news aside .box h3:first-child  {
	padding-top:0;
	margin-top:0;
}
body.newsarchiv article:nth-child(2n+0) figure {
    float:right;
}
body.news .post-content img {
    float:left;
    width:50%;
    margin:20px 20px 20px 0;
}
.post header.page-header {
	padding-bottom:0;
    text-align:left;
}
body.newsarchiv .page-header.detail, body.news .page-header.archiv, body.newsarchiv aside, body.news aside {
    display:none;
}
.post .label {
    display: inline;
    padding: 0;
    text-align: left;
}
body.newsarchiv aside, body.news aside {
	margin-top:40px;
}
body.newsarchiv aside .box, body.news aside .box {
	padding:40px 15px;
}
body.newsarchiv aside .box, body.news aside .box {
    margin-bottom:2px;
}
.news .filter-news {
    margin-bottom:40px;
}
.post img.img-responsive, body.news img.img-responsive {
    width:100%;
    height:auto;
}
.post .page-header, .post .page-header > h3 {
    margin-top:0;
}
.post .page-header {
    margin-bottom:20px;
}
article.post {
    padding: 40px 0;
}
.post .misc a {
    margin-left:15px;
}
body.news .details .tags {
    text-align:left;
}
body.news figure+div, body.newsarchiv figure+div {
    margin-top:20px;
}
body.series .infos ul, body.series .blog aside ul  {
	list-style:none;
}
body.series .infos ul, body.series .blog aside ul {
	margin-left:0;
	padding-left:0;
}
body.series .blog aside .aside-inner {
	margin-left:5px;
	padding:15px;
}
body.series .blog aside.col-md-3, body.series .blog aside.col-lg-3, body.series .blog aside.col-sm-3, body.series .blog aside.col-xs-3 {
	padding-left:2px;
}
section.blog .post > div {
    padding:10px 10px 0 10px;
}
section.blog article.post + .comments {
    padding-top:0;
}
@media (min-width: 580px) {
    /* Pins */
    .news article.pin {
		width:100%;
	}
    section.blog .post > div {
        padding:20px 15px 0 15px;
    }
}
@media (min-width: 768px) {
    
}
@media (min-width: 992px) {
    body.newsarchiv aside, body.news aside {
        display: block;
    }
    section.blog .post > div {
        padding-top:0;
    }
    body.news figure+div, body.newsarchiv figure+div {
        margin-top:0px;
    }
}