@charset "UTF-8";
/* CSS Document */
body.news h1 {
    text-align:left;
}
.news h3 {
	margin-top:0;
	margin-bottom:20px;
}

/* News */
body.newsarchiv aside ul, body.news aside ul {
	list-style:none;
}
body.newsarchiv aside ul, body.news aside ul {
	margin-left:0;
	padding-left:0;
}
body.newsarchiv aside .box h3:first-child, body.news aside .box h3:first-child  {
	padding-top:0;
	margin-top:0;
}
body.newsarchiv article:nth-child(2n+0) figure {
    float:right;
}
body.news .post-content img {
    float:left;
    width:50%;
    margin:20px 20px 20px 0;
}
.post header.page-header {
	padding-bottom:0;
    text-align:left;
}
body.newsarchiv .page-header.detail, body.news .page-header.archiv {
    display:none;
}
.post .label {
    display: inline;
    padding: 0;
    text-align: left;
}
body.newsarchiv aside, body.news aside {
	margin-top:40px;
}
body.newsarchiv aside .box, body.news aside .box {
	padding:40px 15px;
}
body.newsarchiv aside .box, body.news aside .box {
    margin-bottom:2px;
}
.news .filter-news {
    margin-bottom:40px;
}
.post img.img-responsive, body.news img.img-responsive {
    width:100%;
    height:auto;
}
.post .page-header, .post .page-header > h3 {
    margin-top:0;
}
article.post {
    padding: 40px 0;
}
.post .misc a {
    margin-left:15px;
}
@media (min-width: 580px) {
    /* Pins */
    .news article.pin {
		width:100%;
	}
}