@charset "UTF-8";
/* CSS Document */

/* Animationen */
@keyframes show_text { 
  from { 
    opacity: 0;       /* modern browser */
    -moz-opacity: 0;  /* older Mozilla browser */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE8 in Standard Compliant Mode */
    -webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
  } 
  to { 
    opacity: 1;       /* modern browser */
    -moz-opacity: 1;  /* older Mozilla browser */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE8 in Standard Compliant Mode */
    -webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: blur(0px);
  } 
}
.oktothek .participart .shorttext li.active {
    animation-name: show_text;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
    -moz-animation-name: show_text;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
    -webkit-animation-name: show_text;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
}

body.oktothek, .oktothek article {
	position:relative;
}
.oktothek .participart-list li figcaption p {
    text-align: left;
}
.more figure.episode-pin,
.oktothek .participart-list,
.oktothek .participart-list li,
.oktothek .participart-list li a,
.oktothek .participart-list li figure,
.oktothek .participart .shorttext {
    text-align:center;
}
.oktothek .newest-playlists .aligncenter, .oktothek section.container .subheadline {
	margin-bottom:40px;
}

.more figure.episode-pin {
    height:158px;
    width:100%;
    padding-top:80px;
    vertical-align:center;
}
.more figure.episode-pin a {
    display:inline-block;
    padding:12px;
    line-height:12px;
}
.oktothek .btn.login {
	width:150px;
}

/* Pins */
body.oktothek .news .col-md-3.pin, body.oktothek .news .col-lg-3.pin, body.oktothek .news .col-sm-6.pin, body.oktothek .news .col-xs-6.pin {
	padding-left:5px;
	padding-right:5px;
}
body.oktothek .news .row.pin figure.pin {
	padding-left:0px;
	padding-right:0px;
}
body.oktothek .news article.pin {
	margin-bottom:2px;
	padding-top:15px;
	padding-bottom:15px;
}
body.oktothek .news article.row {
	margin-right:0px;
    margin-left:0px;
}
body.oktothek .news-pin {
    padding-top:20px;
}

/* Mitmachbereich */
.oktothek .participart {
    margin-bottom:40px;
    padding-bottom:40px;
}
.oktothek .participart .button_container {
	height:180px;
	width:240px;
	margin:0 auto;
}
.oktothek .participart article {
	padding-bottom:40px;
}
.oktothek .participart article p, .oktothek .participart article h4 {
	margin-bottom:40px;
}
.oktothek .participart .but-full, #StartPlaylist.btn {
	height:50px;
}
.oktothek .participart .but-full {
    transition: all 0.3s;
    overflow: hidden;
    position: relative;
    width: 230px;
}
.oktothek .participart .but-full span {
    transition: 0.3s;
}
.oktothek .participart .but-full span.passive, .oktothek .participart .but-full:hover span.active {
    margin-left:0;
}
.oktothek .participart .but-full:hover span.active {
    margin-left:80px;
}
.oktothek .participart .but-full:hover span.passive, .oktothek .participart .but-full span.active {
    margin-left:-400px;
}
.oktothek .participart .but-full span.active {
    position: absolute;
}
.oktothek .participart .button_container .btn, #StartPlaylist.btn {
	padding:12px 40px;
}
.oktothek .participart .button_container .but-full {
	margin-top:70px;
}
.oktothek .participart-list {
	display:table;
	width:auto;
	margin:10px auto 0 auto;
}
.oktothek .participart-list li {
	width:50%;
	float:left;
    padding-right:10px;
    margin-right:0;
}
.oktothek .participart-list li a {
    padding-right:10px;
}
.oktothek .participart-list li figure {
    padding-top:20px;
    padding-right:0;
	width:140px;
	min-height:140px;
	vertical-align:middle;
	/*line-height:140px;*/
	margin:10px auto 5px auto;
}
.oktothek .participart-list li figure image, .oktothek .participart-list li figure svg {
	width:100px;
    height:100px;
}
.oktothek .participart-list li figcaption {
	margin-top:30px;
    line-height: 1.4em;
}
.oktothek .participart-list li figcaption p {
    display: block;
    margin-top:20px;
    padding-top:12px;
}
.oktothek .participart-list li figcaption span {
    display: block;
    padding:2px 6px;
}
.oktothek .participart .shorttext li {
    display: none;
    padding-top:40px;
}
.oktothek .participart-list li:last-child {
	margin-right:0px;
}
body.oktothek section.container.news {
    padding-right:5px;
    padding-left:5px;
}
@media (min-width: 768px) {
    body.oktothek .participart {
	    margin-bottom:60px;
	    padding-bottom:40px;
    }
    body.oktothek .participart-list li {
	    width:140px;
	    float:left;
	    margin-right:10px;
    }
    body.oktothek .participart-list li figure {
        margin-top:0;
        margin-bottom:20px;
    }
    .oktothek .participart .but-full:hover span.active {
        margin-left:60px;
    }
   .more figure.episode-pin {
        height:188px;
    }
    body.oktothek section.container.news {
        padding-right:15px;
        padding-left:15px;
    }
    body.oktothek .news .col-md-3.pin, body.oktothek .news .col-lg-3.pin, body.oktothek .news .col-sm-6.pin, body.oktothek .news .col-xs-6.pin, body.oktothek .news .row.pin figure.pin {
	    padding-left:15px;
	    padding-right:15px;
    }
    body.oktothek .news-pin {
        padding-top:0px;
    }
    body.oktothek .news article.row {
	    margin-right:-15px;
        margin-left:-15px;
    }
}
@media (min-width: 992px) {
    .more figure.episode-pin {
        height:190px;
    }
}
@media (min-width: 1200px) {
    .more figure.episode-pin {
        height:218px;
    }
}