@charset "UTF-8";
/* CSS Document */

/* Mitmachen */
body.participate #planets .cloud9-item nav li span {
    font-size:20px;
}
.participate #planets .cloud9-item:nth-child(4) nav.sub-left li:nth-child(1) span, .participate #planets .cloud9-item:nth-child(2) nav.sub-right li:nth-child(1) span {
    font-size:24px;
}
#planets .cloud9-item figcaption, body.participate #univers header h1 {
    font-size:14px;
    letter-spacing:1.2px;
}
.participate #planets nav a {
	font-size:11px;
	letter-spacing:0.50px;
}
.participate #planets .color1 a, .participate #planets .color2 a, .participate #planets .color3 a, .participate #planets .color4 a, .participate #planets .color5 a {
    color:#ffffff;
}
body.participate .color5, .participate #planets nav a{
	color:#ffffff;
}
body.participate .color1, body.participate #univers header /*Gelb*/ {
	color: #fcce14;
}
body.participate .color2 { /* Pink */
	color: #d1418f;
}
body.participate .color3 { /* Grün */
	color: #91e31c;
}
body.participate .color4 { /* Blau */
	color: #13fffd;
}

body.participate #univers nav {
    background-color:#112022;
}

.participate #planets nav a, body.participate #univers header h1 {
	text-transform:uppercase;
}
.participate #planets figcaption a {
	text-transform:none;
}

/* Hintergründ Mitmachen */
body.participate video#participate_video {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
}
body.participate, body.participate video#participate_video {
    background-image:url(../images/sternenhimmel.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
}
body.participate {
    background-repeat:no-repeat;
    background-attachment:fixed;
}
/*.participate #planets nav.sub-left li div.dot, .participate #planets nav.sub-right li div.dot {
	background-image:url(../images/circle_subnav_participate.svg);
	background-repeat:no-repeat;
}*/
.participate #planets nav.sub-left li div.dot {
	background-position:left center;
}
.participate #planets nav.sub-right li div.dot {
	background-position:right center;
}
.participate #planets hr {
    background-image:none;
}
.participate #planets .cloud9-item nav li span {
	background-repeat:no-repeat;
	background-position:center center;
}
.participate #planets .cloud9-item:nth-child(1) nav.sub-right li:nth-child(1) span {
	background-image:url(../images/icon_participate_speechbubble.png);
    background-image:url(../images/icon_participate_speechbubble.svg), none;
}
.participate #planets .cloud9-item:nth-child(3) nav.sub-right li:nth-child(1) span {
	background-image:url(../images/icon_participate_contact.png);
    background-image:url(../images/icon_participate_contact.svg), none;
}
.participate #planets .cloud9-item:nth-child(3) nav.sub-right li:nth-child(2) span {
	background-image:url(../images/icon_participate_feedback.png);
    background-image:url(../images/icon_participate_feedback.svg), none;
}
.participate #planets .cloud9-item:nth-child(4) nav.sub-left li:nth-child(2) span {
	background-image:url(../images/icon_participate_info.png);
    background-image:url(../images/icon_participate_info.svg), none;
}
.participate #planets .cloud9-item:nth-child(5) nav.sub-left li:nth-child(1) span {
	background-image:url(../images/icon_participate_upload.png);
    background-image:url(../images/icon_participate_upload.svg), none;
}
.participate #planets .cloud9-item:nth-child(5) nav.sub-left li:nth-child(2) span {
	background-image:url(../images/icon_participate_blackboard.png);
    background-image:url(../images/icon_participate_blackboard.svg), none;
}
.participate #planets .cloud9-item:nth-child(5) nav.sub-right li:nth-child(1) span {
	background-image:url(../images/icon_participate_5steps.png);
    background-image:url(../images/icon_participate_5steps.svg), none;
}
.participate #planets .cloud9-item:nth-child(1) nav.sub-right li:nth-child(2) span, .participate #planets .cloud9-item:nth-child(2) nav.sub-right li:nth-child(1) span, .participate #planets .cloud9-item:nth-child(4) nav.sub-left li:nth-child(1) span, .participate #planets .cloud9-item:nth-child(4) nav.sub-right li:nth-child(1) span {
	/*background-image:url(../images/icon_participate_email.svg);*/
    background-image:none;
}

/* Border Mitmachen */
.participate #planets .color1 hr {
    border-color:#fcce14;
}
.participate #planets .color2 hr {
    border-color:#d1418f;
}
.participate #planets .color3 hr {
    border-color:#91e31c;
}
.participate #planets .color4 hr {
    border-color:#13fffd;
}
.participate #planets .color5 hr {
    border-color:#ffffff;
}
.participate #planets nav.sub-left li div.dot, .participate #planets nav.sub-right li div.dot {
    -moz-border-radius:20px;
	-khtml-border-radius:20px;
	border-radius: 20px;
    border: solid 1px #ffffff;
}

/* Animationen */
@keyframes show_nav { 
  from { 
    opacity: 0;       /* modern browser */
    -moz-opacity: 0;  /* older Mozilla browser */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE8 in Standard Compliant Mode */
    -webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
  } 
  to { 
    opacity: 1;       /* modern browser */
    -moz-opacity: 1;  /* older Mozilla browser */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE8 in Standard Compliant Mode */
    -webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: blur(0px);
  } 
}
@keyframes hide_planets { 
  from { 
    opacity: 1;       /* modern browser */
    -moz-opacity: 1;  /* older Mozilla browser */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE8 in Standard Compliant Mode */
    -webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: blur(0px);
  } 
  to { 
    opacity: 0;       /* modern browser */
    -moz-opacity: 0;  /* older Mozilla browser */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE8 in Standard Compliant Mode */
    -webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
  } 
}
body.participate #univers nav.active {
    margin-left:0px;
    left:0px;
    top:0px;
    animation-name: show_nav;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
    -moz-animation-name: show_nav;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
    -webkit-animation-name: show_nav;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
}
body.participate #univers #planets.move {
    animation-name: hide_planets;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
    animation-fill-mode:forwards;
    -moz-animation-name: hide_planets;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
    -moz-animation-fill-mode:forwards;
    -webkit-animation-name: hide_planets;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode:forwards;
}

@keyframes move_div { 
  	0%   {margin-top: 0px;}
    33%  {margin-top: 3px;}
	66%  {margin-top: -3px;}
    100% {margin-top: 0px;}
}
#planets div:hover {
	animation: move_div 3s infinite linear;
}


body.participate .planet_container {
    width: 100%;
}
body.participate section#univers header {
    width:250px;
    margin-left:-125px;
    margin-top:-70px;
    text-align:center;
    position:absolute;
    top: 50%;
    left: 50%;
}
body.participate video#participate_video {
    z-index:1;
}
body.participate section#univers {
	position:relative;
	padding-bottom:0;
	margin-bottom:0;
}
body.participate #planets {
    height:auto;
	padding-top:40px;
}
body.participate .container, body.participate .footer {
    position:relative;
    z-index:2;
}
body.participate #planets .cloud9-item, #buttons button {
  cursor: pointer;
}
body.participate #planets div {
    position: relative;
    margin-bottom:0px;
    margin-left:5%;
    margin-right:5%;
}
body.participate div img {
    max-height: 100px;
    max-width: 100px;
}
body.participate figure .click_figure {
    position: absolute;
    display: block;
    top:0;
    width: 100%;
    height: 100%;
}
body.participate div:nth-child(2n+0) {
    text-align: right;
}

body.participate #planets .title-container {
    position:relative;
    z-index:31;
}
body.participate #univers nav {
    margin-left:-9999px;
    position:absolute;
    z-index: 999;
}
body.participate nav .close {
    margin-right:5px;
    position: relative;
    z-index: 10;
}
body.participate #univers nav.active.sub-right, body.participate #univers nav.active.sub-left {
    left:0;
	text-align:left;
    width: 100%;
}
body.participate #univers nav.active.sub-left {
    right:auto;
}
body.participate #univers nav.active.sub-right {
    top:auto;
    margin-top:30px;
}
body.participate #planets nav ul {
    list-style:none;
    padding-left:0;
    margin-left:0;
}
body.participate #planets nav li {
    height:auto;
    position:relative;
	white-space:normal;
    clear:left;
}
body.participate #planets nav.sub-right li, body.participate #planets nav.sub-left li {
    padding:20px;
}
body.participate #planets nav li a {
    position:relative;
}
body.participate #planets li div.dot {
    width:40px;
    height:40px;
    position:relative;
}
body.participate #planets nav.sub-right li div.dot, body.participate #planets nav.sub-left li div.dot {
    float:left;
}
body.participate #planets nav.sub-left hr, body.participate #planets nav.sub-right hr {
    display: none;
}
body.participate #planets .cloud9-item nav li span {
	width:20px;
	height:20px;
    margin:8px 20px 0 -41px;
}
@media (min-width: 420px) {
    body.participate div img {
        max-height: 150px;
        max-width: 150px;
    }
    body.participate #planets div:first-child {
       top:0px;
    }
    body.participate #planets div:nth-child(2) {
        top:-100px;
    }
    body.participate #planets div:nth-child(3) {
        top:-100px;
    }
    body.participate #planets div:nth-child(4) {
        top:-150px;
    }
    body.participate #planets div:nth-child(5) {
        top:-150px;
    }
}
@media (min-width: 768px) {
    body.participate div img {
        max-height: 250px;
        max-width: 250px;
    }
}
@media (min-width: 992px) {
    #planets .cloud9-item figcaption, body.participate #univers header h1 {
        font-size:19px;
        letter-spacing:1.2px;
    }
    body.participate #univers nav {
        background-color:transparent;
        z-index: auto;
    }
    .participate #planets nav.sub-left li div.dot, .participate #planets nav.sub-right li div.dot {
	    background-image:url(../images/circle_subnav_participate.svg);
	    background-repeat:no-repeat;
        border:none;
        -moz-border-radius:0px;
	    -khtml-border-radius:0px;
	    border-radius: 0px;
    }
    body.participate #planets {
        height:660px;
	    padding-top:100px;
    }
    body.participate #planets div {
        margin:0px;
    }
    body.participate #planets div:first-child, body.participate #planets div:nth-child(2), body.participate #planets div:nth-child(3), body.participate #planets div:nth-child(4), body.participate #planets div:nth-child(5) {
        top:auto;
    }
    body.participate div:nth-child(2n+0) {
        text-align: left;
    }
    body.participate #univers nav.active {
        top:20px;
        left:auto;
    }
    body.participate #planets .cloud9-item nav li span {
	    display:block;
        position:absolute;
        width:23px;
	    height:23px;
        margin:0;
    }
    body.participate #planets nav.sub-left li div.dot {
        float:right;
    }
    body.participate div img {
        max-height: 250px;
        max-width: 250px;
    }
    body.participate #planets .cloud9-item figcaption {
        position:absolute;
        top:0px;
        margin-top:-30px;
        text-align:center;
        width:100%;
    }
    body.participate #planets .cloud9-item:nth-child(1) figcaption { /*Heinrich*/
        position:absolute;
        top:0px;
        margin-top:-20px;
        text-align:center;
         width:60%;
        left:50%;
    }
    body.participate #planets .cloud9-item:nth-child(3) figcaption { /*Satelit*/
        position:absolute;
        top:0px;
        margin-top:0px;
        text-align:center;
        width:60%;
        left:40%;
    }
    body.participate #univers nav.active.sub-right {
        left:160px;
        top:0px;
	    text-align:left;
        width: auto;
    }
    body.participate #univers nav:nth-child(2).active {
        margin-top:0px;
    }
    body.participate #univers nav.active.sub-left {
        right:180px;
        left:auto;
	    text-align:right;
        width: auto;
    }
    body.participate #planets nav li {
        height:80px;
        white-space:nowrap;
    }
    body.participate #planets nav.sub-left li {
        padding:0 80px 0 0;
        text-align:right;
    }
    body.participate #planets nav.sub-right li {
        padding:0 0 0 80px;
    }
    body.participate #planets li div.dot {
        width:140px;
        height:80px;
    }
    body.participate #planets nav.sub-left hr, body.participate #planets nav.sub-right hr {
        display:block;
        width:70px;
        margin-top:34px;
    }
    body.participate #planets nav.sub-left hr {
        margin-left:69px;
    }
    body.participate #planets nav.sub-right hr {
        margin-right:69px;
    }
    body.participate #planets nav.sub-right li:nth-child(1) div.dot {
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
    }
    body.participate #planets nav.sub-right li:nth-child(1) a, body.participate #planets nav.sub-left li:nth-child(1) a {
        top:20px;
    }
    body.participate #planets nav.sub-right li:nth-child(2) div.dot {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    body.participate #planets nav li:nth-child(2) a {
        top:20px;
    }
    body.participate #planets nav.sub-right li:nth-child(3) div.dot {
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -o-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
    }
    body.participate #planets nav.sub-left li:nth-child(2) div.dot {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    body.participate #planets nav li:nth-child(3) a {
        top:40px;
    }
    body.participate #planets nav.sub-left li:nth-child(1) div.dot {
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
    }
    body.participate #planets nav.sub-left li:nth-child(3) div.dot {
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
    }
    body.participate #planets nav.sub-left li:nth-child(1) div.dot {
        right:-25px;
        left:auto;
        top:auto;
    }
    body.participate #planets nav.sub-right li:nth-child(1) div.dot {
        left:0px;
    }
    body.participate #planets nav.sub-right li:nth-child(2) div.dot {
        left:20px;
    }
    body.participate #planets nav.sub-left li:nth-child(2) div.dot {
        right:0px;
        left:auto;
        top:auto;
    }
    body.participate #planets nav.sub-left li:nth-child(3) div.dot {
        right:-25px;
        top:auto;
        left:auto;
    }
    body.participate #planets nav.sub-left li:nth-child(1) a {
        right:120px;
        left:auto;
    }    
    body.participate #planets nav.sub-right li:nth-child(1) a {
        left:10px;
    }
    body.participate #planets nav.sub-left li:nth-child(2) a {
        right:125px;
        top:auto;
        left:auto;
    }
    body.participate #planets .cloud9-item:nth-child(4) nav.sub-left li:nth-child(2) a {
        right:155px;
        top:auto;
        left:auto;
    }
    body.participate #planets nav.sub-left li:nth-child(3) a {
        right:0px;
        top:auto;
        left:auto;
    }
    body.participate #planets nav.sub-right li:nth-child(2) a {
        left:35px;
    }
    body.participate #planets nav.sub-right li:nth-child(3) a {
        margin-left:15px;
    }
    .participate #planets .cloud9-item:nth-child(1) nav.sub-right li:nth-child(1) span {
	    top:16px;
	    left:170px;
    }
    .participate #planets .cloud9-item:nth-child(1) nav.sub-right li:nth-child(2) span {
	    top:27px;
	    left:194px;
    }
    .participate #planets .cloud9-item:nth-child(2) nav.sub-right li:nth-child(1) span {
        top:15px;
	    left:170px;
    }
    .participate #planets .cloud9-item:nth-child(3) nav.sub-right li:nth-child(1) span {
	    top:12px;
	    left:172px;
    }
    .participate #planets .cloud9-item:nth-child(3) nav.sub-right li:nth-child(2) span {
	    top:27px;
	    left:194px;
    }
    .participate #planets .cloud9-item:nth-child(4) nav.sub-right li:nth-child(1) span {
	    top:17px;
	    left:173px;
    }
    .participate #planets .cloud9-item:nth-child(4) nav.sub-left li:nth-child(1) span {
	    top:17px;
	    left:51px;
    }
    .participate #planets .cloud9-item:nth-child(4) nav.sub-left li:nth-child(2) span {
	    top:25px;
	    left:22px;
    }
    .participate #planets .cloud9-item:nth-child(5) nav.sub-left li:nth-child(1) span {
	    top:10px;
	    left:60px;
        width:35px;
        height:35px;
    }
    .participate #planets .cloud9-item:nth-child(5) nav.sub-left li:nth-child(2) span {
	    top:27px;
	    left:43px;
        width:20px;
	    height:20px;
    }
    .participate #planets .cloud9-item:nth-child(5) nav.sub-right li:nth-child(1) span {
	    top:16px;
	    left:168px;
        width:30px;
        height:30px;
    }
}
@media (min-width: 992px) {
    body.participate .planet_container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    body.participate .planet_container {
        width: 1170px;
    }
}