@charset "UTF-8";
/* CSS Document */
/* Playlists */
body.playlists header.description-wrapper, body.playlists .playlist-buttons, body.playlists #button_down span, body.playlists figure div.pin .mini-player {
	position:absolute;
}
body.playlists #button_down {
	position:fixed;
}
body.playlists header.description-wrapper {
	z-index:20;
}
body.playlists #button_down {
	z-index:200;
}
body.playlists .content-opacity {
	z-index:1;
}
body.playlists figure div.pin .mini-player {
	z-index:2;
}
body.playlists .active figure div.pin .mini-player, body.playlists figure div.pin:hover .mini-player, body.playlists .playlist-minimized button span {
	display:block;
}
body.playlists .playlist-minimized, body.playlists .jw-display-icon-container, body.playlists figure div.pin .mini-player {
	display:none;
}
body.playlists #button_down {
	cursor:pointer;
}
body.playlists h2.name {
    text-align: left;
}
body.playlists .playlist_container .list-group-item {
	margin-bottom:2px;
}
body.playlists .playlist_container article.pin {
	width: 100%;
}
body.playlists .list-group {
	margin-left:-15px;
	margin-right:-15px;
}
body.playlists section.player-container {
	padding-top:20px;
}
body.playlists #StartPlaylist_small.btn, body.playlists #StartPlaylist.btn, body.playlists #StartPlaylist.btn .glyphicon, body.playlists #StartPlaylist_small.btn .glyphicon {
	line-height:16px;
}
body.playlists #StartPlaylist_small.btn {
    padding:0;
    width: 36px;
    margin-right:10px;
}
body.playlists #StartPlaylist_small.btn .glyphicon {
	vertical-align:middle;
	top:0px;
}
body.playlists .playlist-buttons {
	right: -50px;
	top:0;
}
body.playlists .description-container {
    margin-left:0;
    margin-right:0;
}
body.playlists .description-container h2 {
	margin-bottom:4px;
}
body.playlists .playlist-minimized button span {
	margin-top:-7px;
}
body.playlists .fs-image-misc-mobile .edit-playlist {
    display: inline;
}
body.playlists header .btn.transparent {
	margin-right:-15px;
	margin-top:-15px;
}
body.playlists .list-group-item {
	padding-left:0;
	padding-right:0;
}
body.playlists #button_down {
	bottom:50px;
    left:50%;
    margin-left:-48px;
    display:none;
}
body.playlists #button_down span {
    position:absolute;
	display:inline-block;
	width:96px;
	height:45px;
    margin-left:50px;
    margin-top:-13px;
}
body.playlists .playlists-arrow-down {
	height:45px;
}
#button_down span.glyphicon {
	top:auto;
}
body.playlists .content-opacity {
	padding:15px;
	position:relative;
	margin-right:15px;
}
body.playlists .playlist-buttons div {
	margin-bottom:5px;
}
body.playlists .list-group .row {
    margin-right:0px;
    margin-left:0px;
}
body.playlists .list-group article.pin {
    padding-bottom:0;
    margin-bottom:0;
}
body.playlists figure div.pin .mini-player {
	width:35px;
	height:35px;
	top:50%;
	left:50%;
	margin:-17px 0 0 -17px;
	text-align:center;
	line-height:35px;
	vertical-align:middle;
	padding-left:1px;
}
body.playlists .content-opacity .author {
    text-align: center;
    margin-right:30px;
}
body.playlists .description-overlay .description-wrapper .more {
    text-align:center;
}

/* Edit Playlists */
#playlist_items {
	margin-bottom:40px;
}
#playlist_items .row {
	margin-bottom:1px;
	padding-top:15px;
	padding-bottom:15px;
}
#playlist_items .list-group-item {
	padding:4px;
	margin-left:4px;
}
#playlist_items .list-group {
    float:left;
	margin-bottom:0;
}
#playlist_items .list-group-item {
	display:inline;
}
#playlist_items .col-md-1 {
	padding-left:0;
	text-align:right;
}
#playlist_items h3 {
	margin:0;
}
#playlist_items p {
	margin-top:2px;
}
#playlist_items a.list-group-item span {
	vertical-align:middle;
	text-align:center;
	top:0;
}
body.edit-playlists form label, body.producer form label {
    display:block;
}
body.edit-playlists form fieldset {
	margin-bottom:60px;
	padding-bottom:40px;
}
body.edit-playlists form .form-group.search > div {
    width:100%;
}
body.edit-playlists form .form-group.search .twitter-typeahead {
    /*width:315px;*/
}
body.edit-playlists form .form-group.search input {
    width:100%;
}
body.edit-playlists .form-group.search .icon-search, body.producer .form-group.search .icon-search {
    width:50px;
    height:35px;
    display:inline-block;
    float:left;
}
body.edit-playlists .form-group.search .icon-search span, body.producer .form-group.search .icon-search span {
    display:inline-block;
    width:100%;
    height:100%;
    line-height:35px;
    vertical-align:center;
    text-align:center;
}
body.producer .col-lg-2, body.producer .col-md-2, body.producer .col-sm-3, body.producer .col-xs-4 {
    padding-left:0;
}
.tt-menu {
    margin-left:-50px;
    padding-left:60px;
}
.tt-menu .row {
    padding-bottom:10px;
}
.tt-menu .col-xs-12, .tt-menu .col-sm-4, .tt-menu .col-md-4 {
    padding-right:0px;
    padding-left:0px;
}
.tt-menu .col-xs-12, .tt-menu .col-sm-8, .tt-menu .col-md-8 {
    padding-left:0px;
}
.tt-menu img {
    width:120px;
    height:auto;
    margin-bottom: 10px;
}
body.edit-playlists .delete-playlist {
    margin-top:40px;
    margin-bottom:20px;
}

@media (min-width: 401px) {
    #StartPlaylist_small {
        margin-right:-60px;
    }
}
@media (min-width: 768px) and (max-height: 600px) {
	body.playlists header.description-wrapper {
	    bottom:30px;
	    width:650px;
	    margin: 0 0 0 -325px;
		padding-top:20px;
	    left:50%;
	    right:0;
	}
    body.playlists #StartPlaylist.btn {
        margin-right:0;
    }
}
@media (min-width: 768px) and (min-height: 601px) {
	body.playlists header.description-wrapper {
	    bottom:30px;
	    width:650px;
	    margin: 0 0 0 -325px;
	    left:50%;
	    right:0;
	}
}
@media (min-width: 768px) {
    body.playlists .description-container {
        margin-left:-15px;
        margin-right:-15px;
    }
    body.playlists .description-overlay .description-wrapper .more {
        text-align:left;
    }
    body.playlists #StartPlaylist.btn {
        padding:8px 16px;
        width: auto;
        margin-right:10px;
    }
    body.playlists #StartPlaylist.btn .glyphicon {
	    vertical-align:middle;
	    top:-3px;
        margin-right:2px;
    }
    body.playlists #button_down {
        display:block;
    }
    .tt-menu img {
        width:100%;
        height:auto;
    }
    .tt-menu .col-xs-12, .tt-menu .col-sm-8, .tt-menu .col-md-8 {
        padding-left:15px;
    }
    .tt-menu .col-xs-12, .tt-menu .col-sm-4, .tt-menu .col-md-4 {
        padding-right:0;
        padding-left:5px;
    }
    body.playlists .list-group {
	    margin-left:0px;
	    margin-right:0px;
    }
    body.playlists .list-group .row {
        margin-right:-5px;
        margin-left:-5px;
    }
    input#episode_search {
        width:265px;
    }
    body.edit-playlists form .form-group.search > div {
        width:315px;
        margin:0 -15px 0 auto;
    }
    #playlist_items .list-group {
	    float:right;
    }
}
@media (min-width: 992px) {
    body.playlists header.description-wrapper {
	    bottom:30px;
	}
}
@media (min-width: 1200px) {
    body.playlists header.description-wrapper {
	    bottom:100px;
	}
}