@charset "UTF-8";
/* CSS Document */
/* Playlists */
.playlists header.description-wrapper, .playlists .playlist-buttons, .playlists #button_down span, .playlists figure.pin .mini-player {
	position:absolute;
}
.playlists #button_down {
	position:fixed;
}
.playlists header.description-wrapper {
	z-index:20;
}
.playlists #button_down {
	z-index:200;
}
.playlists .content-opacity {
	z-index:1;
}
.playlists figure.pin .mini-player {
	z-index:2;
}
.playlists .active figure.pin .mini-player, .playlists figure.pin:hover .mini-player, .playlists .playlist-minimized button span {
	display:block;
}
.playlists .playlist-minimized, .playlists .jw-display-icon-container, .playlists figure.pin .mini-player {
	display:none;
}
.playlists #button_down {
	cursor:pointer;
}
.playlists h2.name {
    text-align: left;
}
.playlists .playlist_container .list-group-item {
	margin-bottom:2px;
}
.playlists .playlist_container article.pin {
	width: 100%;
}
.playlists .list-group {
	margin-left:-15px;
	margin-right:-15px;
}
.playlists section.player-container {
	padding-top:20px;
}
.playlists #StartPlaylist_small.btn, .playlists #StartPlaylist.btn, .playlists #StartPlaylist.btn .glyphicon, .playlists #StartPlaylist_small.btn .glyphicon {
	line-height:16px;
}
.playlists #StartPlaylist_small.btn {
    padding:0;
    width: 36px;
    margin-right:10px;
}
.playlists #StartPlaylist_small.btn .glyphicon {
	vertical-align:middle;
	top:0px;
}
.playlists .playlist-buttons {
	right: -50px;
	top:0;
}
.playlists .description-container {
    margin-left:0;
    margin-right:0;
}
.playlists .description-container h2 {
	margin-bottom:4px;
}
.playlists .playlist-minimized button span {
	margin-top:-7px;
}
.playlists .fs-image-misc-mobile .edit-playlist {
    display: inline;
}
.playlists header .btn.transparent {
	margin-right:-15px;
	margin-top:-15px;
}
.playlists .list-group-item {
	padding-left:0;
	padding-right:0;
}
.playlists #button_down {
	bottom:50px;
    left:50%;
    margin-left:-48px;
}
.playlists #button_down span {
	display:inline-block;
	vertical-align:middle;
	line-height:50px;
	width:96px;
	height:45px;
}
.playlists .playlists-arrow-down {
	height:45px;
}
#button_down span.glyphicon {
	top:auto;
}
.playlists .content-opacity {
	padding:15px;
	position:relative;
	margin-right:15px;
}
.playlists .playlist-buttons div {
	margin-bottom:5px;
}
.playlists figure.pin .mini-player {
	width:35px;
	height:35px;
	top:50%;
	left:50%;
	margin:-17px 0 0 -17px;
	text-align:center;
	line-height:35px;
	vertical-align:middle;
	padding-left:1px;
}
.playlists .content-opacity .author {
    text-align: center;
    margin-right:30px;
}
.playlists .description-overlay .description-wrapper .more {
    text-align:center;
}

/* Edit Playlists */
.edit-playlists #playlist_items {
	margin-bottom:40px;
}
.edit-playlists #playlist_items .row {
	margin-bottom:1px;
	padding-top:15px;
	padding-bottom:15px;
}
.edit-playlists #playlist_items .list-group-item {
	padding:4px;
	margin-left:4px;
}
.edit-playlists #playlist_items .list-group {
    float:left;
	margin-bottom:0;
}
.edit-playlists #playlist_items .list-group-item {
	display:inline;
}
.edit-playlists #playlist_items .col-md-1 {
	padding-left:0;
	text-align:right;
}
.edit-playlists #playlist_items h3 {
	margin:0;
}
.edit-playlists #playlist_items p {
	margin-top:2px;
}
.edit-playlists #playlist_items a.list-group-item span {
	vertical-align:middle;
	text-align:center;
	top:0;
}
.edit-playlists form label {
    display:block;
}
.edit-playlists form fieldset {
	margin-bottom:60px;
	padding-bottom:40px;
}
.edit-playlists form .form-group.search > div {
    width:100%;
}
.edit-playlists form .form-group.search .twitter-typeahead {
    /*width:315px;*/
}
.edit-playlists form .form-group.search input {
    width:100%;
}
.edit-playlists .form-group.search .icon-search {
    width:50px;
    height:35px;
    display:inline-block;
    float:left;
}
.edit-playlists .form-group.search .icon-search span {
    display:inline-block;
    width:100%;
    height:100%;
    line-height:35px;
    vertical-align:center;
    text-align:center;
}
.edit-playlists .tt-menu {
    margin-left:-50px;
    width:315px;
    padding:15px 10px 15px 60px;
}
.edit-playlists .tt-menu img {
    width:190px;
    height:auto;
}
.edit-playlists .delete-playlist {
    margin-top:40px;
    margin-bottom:20px;
}

@media (min-width: 401px) {
    #StartPlaylist_small {
        margin-right:-60px;
    }
}
@media (min-width: 768px) and (max-height: 600px) {
	.playlists header.description-wrapper {
	    bottom:30px;
	    width:650px;
	    margin: 0 0 0 -325px;
		padding-top:20px;
	    left:50%;
	    right:0;
	}
    .playlists #StartPlaylist.btn {
        margin-right:0;
    }
}
@media (min-width: 768px) and (min-height: 601px) {
	.playlists header.description-wrapper {
	    bottom:30px;
	    width:650px;
	    margin: 0 0 0 -325px;
	    left:50%;
	    right:0;
	}
}
@media (min-width: 768px) {
    .playlists .description-container {
        margin-left:-15px;
        margin-right:-15px;
    }
    .playlists .description-overlay .description-wrapper .more {
        text-align:left;
    }
    .playlists #StartPlaylist.btn {
        padding:8px 16px;
        width: auto;
        margin-right:10px;
    }
    .playlists #StartPlaylist.btn .glyphicon {
	    vertical-align:middle;
	    top:-3px;
        margin-right:2px;
    }
    .edit-playlists form .form-group.search input {
        width:265px;
    }
    .edit-playlists form .form-group.search > div {
        width:315px;
        margin:0 -15px 0 auto;
    }
    .edit-playlists #playlist_items .list-group {
	    float:right;
    }
}
@media (min-width: 992px) {
    .playlists header.description-wrapper {
	    bottom:30px;
	}
}
@media (min-width: 1200px) {
    .playlists header.description-wrapper {
	    bottom:100px;
	}
}