@charset "UTF-8";
/* CSS Document */

/* Produzenten */
body.producer aside ul.socialnetworks li, body.producer aside ul.socialnetworks li a {
    display:block;
}
body.producer aside ul.socialnetworks li a {
    float:left;
}
body.producer .nav-tabs {
    margin-top:40px;
}
section.tabs-content {
    padding:15px;
    margin-top:0;
}
body.producer .subheadline {
    margin:40px 0;
}
body.producer aside ul.list-group {
    margin-top:20px;
}
body.producer aside .description {
    padding-bottom:20px;
}
body.producer aside .description + li {
    padding-top:20px;
}
body.producer aside li {
    padding-top:0px;
    padding-bottom:4px;
}
body.producer aside ul.socialnetworks li div {
    margin-left:50px;
    padding-top:10px;
}
body.producer .statistic .list-group-item {
    padding-right:0;
    padding-left:0;
    width: 100%;
}
body.producer .list-group-item .pin {
    padding-bottom:15px;
}
body.producer .statistic .list-group-item .pin, body.producer .statistic .list-group-item figcaption {
    padding-left:0px;
    padding-right:0px;
}
body.producer .row {
    padding-bottom:40px;
}
body.producer .row.pin {
    padding-bottom:40px;
}
body.producer .row.pin .pin {
    padding-bottom:20px;
}
body.producer .series-pin h3 {
	margin:2px 0 10px 0;
}
body.producer .row.pin .pin img {
    width: 100%;
}
body.producer .list-group-item figcaption h3, body.producer .list-group-item figcaption {
    margin-top:0;
}
body.producer .nav-tabs.nav-justified > li > a {
    text-align: left;
}
body.producer .nav-tabs.nav-justified > li > a::before {
    content: '> ';
}
body.producer header.page-header .misc{
    display: none;
}

/* Blog */
body.producer .newsarchiv article:nth-child(2n+0) figure {
    float:right;
}
body.producer .newsarchiv img.img-responsive {
    width:100%;
    height:auto;
}
body.producer .newsarchiv .post .page-header > h3 {
    margin-top:0;
}
body.producer .newsarchiv .post .page-header {
    margin-bottom:20px;
}
body.producer .newsarchiv article.post {
    padding: 40px 0;
}
body.producer .newsarchiv .post .misc a {
    margin-left:15px;
}
body.producer .newsarchiv figure+div {
    margin-top:20px;
}
body.producer .newsarchiv .post > div {
    padding:10px 10px 0 10px;
}
body.producer .newsarchiv .post .page-header > h3, body.producer .newsarchiv .post .page-header {
    margin-top: 0;
}
body.producer .newsarchiv .post .page-header > h3 {
    text-align: left;
}
/* Episode */
.tags .list-group-item {
    padding-left:0;
    padding-right:10px;
    display: inline;
}
.tags .list-group-item::before {
    content:'#';
}
@media (min-width: 580px) {
    /* Blog */
    body.producer .newsarchiv article.pin {
		width:100%;
	}
    body.producer .newsarchiv .post > div {
        padding:20px 15px 0 15px;
    }
}
@media (min-width: 768px) {
    body.producer .row {
        padding-bottom:0px;
    }
    body.producer .row.pin {
        padding-bottom:0px;
    }
    body.producer .row.pin .pin {
        padding-bottom:0px;
    }
    body.producer .row.pin .pin img {
        width: auto;
    }
    body.producer .list-group-item .pin {
        padding-bottom:0;
    }
     body.producer .statistic .list-group-item .pin, body.producer .statistic .list-group-item figcaption {
        padding-left:0px;
        padding-right:15px;
    }
    body.producer .nav-tabs.nav-justified > li > a {
        text-align: center;
    }
    body.producer .nav-tabs.nav-justified > li > a::before {
        content: '';
    }
    body.producer header.page-header .misc {
        display: block;
    }
}
@media (min-width: 992px) {
    /* Blog */
    body.producer .newsarchiv .post > div {
        padding-top:0;
    }
    body.producer .newsarchiv figure+div {
        margin-top:0px;
    }
}