{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'news', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "newsarchiv head-white-color" %}
{% block body %}
<div id="top"></div>
<div class="container">
	<div class="row">
        <div class="navigation">
            {{ knp_pagination_render(posts) }}
        </div>
	    <div class="col-xs-9">
            {% for post in posts %}
            {% include 'AppBundle::News/post.html.twig' with {'post': post, 'newsloop': loop.index } %}
            {% endfor %}
	    </div>
	    <aside class="col-xs-3">
			<div class="box">
			    <form>
			        <h3>NEWSLETTER</h3>
                    <p>Mit dem Okto Newsletter immer up to date</p>
				    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email" aria-describedby="Newsletter">
						<span class="input-group-btn">
                            <button class="btn btn-default" type="button">»</button>
                        </span>
                    </div>
				</form>
			</div>
			<div class="box">
			    <h3>NEWSFEEDS</h3>
                <p>Täglich informiert werden mit dem Okto Newsfeed.</p>
				<p class="aligncenter"><button class="btn btn-default">ABBONIEREN</button></p>
			</div>
			<div class="box">
			    <h3>SOCIAL NETWORKS</h3>
                <p>Folgen Sie uns auf:</p>
                <ul class="socialnetworks">
                    <li><a href="https://www.facebook.com/okto.tv" class="icon-facebook" target="_blank" title="Okto auf Facebook"><span>Facebook</span></a></li>
                    <li><a href="https://twitter.com/oktotv" class="icon-twitter" target="_blank" title="Okto auf Twitter"><span>Twitter</span></a></li>
                    <li><a href="https://plus.google.com/+CommunityTVGmbHWien" class="icon-googleplus" target="_blank" title="Okto auf Google Plus"><span>Google Plus</span></a></li>
                    <li><a href="#" class="icon-instagramm" target="_blank" title="Okto auf Instagramm"><span>Instagramm</span></a></li>
                    <li><a href="#" class="icon-pinterest" target="_blank" title="Okto auf Pinterest"><span>Pinterest</span></a></li>
                    <li><a href="https://www.youtube.com/user/oktotv" class="icon-youtube" target="_blank" title="Okto auf YouTube"><span>YouTube</span></a></li>
                </ul>
			</div>
	    </aside>
	</div>
</div>
{% endblock %}
