{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'news', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "head-white-color" %}
{% block body %}
<div class="container">
    <div class="page-header">
        <a href="{{ path('oktothek_new_news') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span> {{ 'oktothek.create_new_post_button'|trans }}
        </a>
    </div>
    {% for post in posts %}
        {% include 'AppBundle::News/post.html.twig' with {'post': post, 'newsloop': loop.index } %}
    {% endfor %}
</div>
{% endblock %}
