{% extends "BprsStyleBundle::layout.html.twig" %}
{% block title %}{{ name|default('OKTO')~' | '~post.name }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'news', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "head-white-color" %}
{% block body %}
    <div id="top"></div>
    {% include 'AppBundle::News/post.html.twig' %}
	
	<!-- Start Top Button -->
	    <button class="btn btn-default btn-top">Top <span class="glyphicon glyphicon-chevron-up"></span></button>
	    <!-- End Top Button -->
{% endblock %}
