{% extends "BprsStyleBundle::layout.html.twig" %}
{% block title %}{{ name|default('OKTO')~' | '~post.name }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'news', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "news head-white-color" %}
{% block body %}
    <div id="top"></div>
    <div class="container">
		<div class="row">
		    <div class="col-xs-9">
                {% include 'AppBundle::News/post.html.twig' %}
			</div>
			<div class="col-xs-3">
                Submenü
			</div>
		</div>
	</div>
{% endblock %}
