{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek_backend', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "head-white-color" %}
{% block body_main %}
    {% include "AppBundle::backend/tag/header.html.twig" with {'active': 'popular_tags'} %}
    <section>
        {{ knp_pagination_render(tags) }}
        <ul class="list-group">
            {% for tag in tags %}
                <li class="list-group-item"><a href="{{ path('oktothek_backend_tag_show', {'tag': tag.id}) }}">{{ tag.text }}</a></li>
            {% endfor %}
        </ul>
        {{ knp_pagination_render(tags) }}
    </section>
{% endblock %}
