{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "head-white-color" %}
{% block body_main %}
    {% include "AppBundle::Backend/Tag/header.html.twig" with {'active': 'popular_tags'} %}
	<section>
        <ul class="list-group">
            {% for tag in tags %}
                <li class="list-group-item"><a href="{{ path('oktothek_tag_show', {'slug': tag.slug}) }}">{{ tag.text }}</a></li>
            {% endfor %}
        </ul>
	</section>
{% endblock %}
