{% extends "BprsStyleBundle::layout.html.twig" %}
{% block title %}Neue Playlist erstellen | Okto{% endblock %}
{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "" %}
{% block body_main %}
    <div class="page-header">
        <h1>{{ 'oktothek.playlist_new_header'|trans }}</h1>
    </div>
    {{ form_start(form) }}
    {{ form_end(form) }}

{% endblock %}
