{% macro playlistitem_macro(prototype) %}
<li class="row">
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
        <img src="__thumb__" class="img img-responsive" />
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-8">
        <a href="#">
            <h3>__header__</h3>
            <p>__desc__</p>
        </a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-danger remove"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item moveup"><span class="glyphicon glyphicon-chevron-up"></span></a><a href="#" class="list-group-item movedown"><span class="glyphicon glyphicon-chevron-down"></span></a>
        </div>
    </div>
    <div class="hidden">
        {{ form_widget(prototype)}}
    </div>
</li>
{% endmacro %}
