<h3>{{ 'oktothek_tag_pages_header'|trans }}</h3>
<ul class="pages list-group" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    {% for page in pages %}
        <li class="list-group-item"><a href="{{ path( 'oktothek_page_show', {'page': page.slug })}}" itemprop="significantLink">{{ page.title }}</a></li>
    {% endfor %}
</ul>
