<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Unbenanntes Dokument</title>
</head>

<body style="background-color:#000000;color:#ffffff;font-family:'Helvetica Neue','Helvetica',Arial,sans-serif;font-size:20px;padding-left:5%;padding-right:5%;line-height:27px;letter-spacing:0.6px;">
<p style=""><img src="{{ absolute_url(asset('bundles/app/images/okto_logo.png')) }}" width="40" height="66" alt="OKTO Community TV GmbH"/></p>
<h1 style="font-size: 32px;font-weight: normal;padding-top:20px;padding-bottom:30px;line-height:36px;">Liebe/r OktonautIn!</h1>
<p style="padding-bottom:30px;">
    Wir haben eine Anfrage zum Zur&uuml;cksetzen deines Okto-Passworts erhalten.
</p>
<div style="background-color:#333333;padding:20px;">
<p style="margin:0;padding:0;font-weight:200;">
    Klicke hierf&uuml;r auf den folgenden Link:<br><a href="{{ url('bprs_user_iforgot_reset', { 'resetHash': user.resetHash }) }}" style="color:#fcce14;text-decoration:none;">{{ url('bprs_user_iforgot_reset', { 'resetHash': user.resetHash }) }}</a>
</p>
</div>
<div style="font-size:14px;line-height:22px;">
<p style="padding-top:30px;">
Freundliche Gr&uuml;&szlig;e,<br>
dein OKTO Team
</p>
<p>
    *************************************<br>
    OKTO Community TV GmbH<br>
    www.okto.tv<br>
    *************************************
</p>
<p>
    T +43 1 786 2442 -22<br>
    F +43 1 786 2442 -18
</p>

<p>---------------------------------<br>
    OKTO<br>
    Community TV-GmbH<br>
    Goldschlagstra&szlig;e 172<br>
    1140 Wien, &Ouml;sterreich
</p>
</div>
</body>
</html>
