{% extends "BprsStyleBundle::layout.html.twig" %}

{% block title %}Sendereihenbereich | Okto{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'producer', 'dropdown': 'user_menu'} %}
{% endblock %}
{% set body_class = "producer" %}
{% block body_main %}
    <header class="page-header">
        <h1>{{ 'oktothek_series_my_channels_header'|trans }}</h1>
    </header>
    {% if series is empty %}
        <p>{{ 'oktothek_series_my_channels_empty'|trans }}</p>
    {% else %}
        {% include "AppBundle:Producer:SeriesStack.html.twig" with {'seriess': series} %}
    {% endif %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/producer.css') }}" rel="stylesheet" />
{% endblock %}
