{% extends "BprsStyleBundle::layout.html.twig" %}
{% block metas %}
<meta name="description" content="Wie erstelle ich einen Account und welche Vorteile bringt es Teil Okto-Community zu sein? Hier findest du die Antworten! Alle Features des Oktoversums, wie zum Beispiel das Erstellen und Teilen von Playlists, das Verwalten deiner Abos oder das Teilen von Videos in deine sozialen Netzwerke oder werden in diesem Bereich genau erklärt.">
{% endblock %}
{% block title %}So funktioniert das Oktoversum{#{ 'oktothek_participate_title'|trans }#}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': '', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "page" %}
{% block body %}
    <div id="top"></div>
    <header class="page-header">
        <h1 itemprop="headline">Kontakt</h1>
    </header>
    <div class="container-fluid">
        <section class="container">
            <h3>Adresse</h3>
            <p>
                Goldschlagstraße 172/4<br>
                1140 Wien<br>
                Tel: +43 1 786 2442
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10638.22545679839!2d16.3049499!3d48.1958986!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd3c1e36600a8b09b!2sOKTO+Community+TV-GmbH!5e0!3m2!1sde!2sat!4v1478164376514" width="600" height="450" style="border:0;margin-top:20px;margin-bottom:20px" allowfullscreen></iframe>
            <h3>B&uuml;rozeiten</h3>
            <p>
                Montag – Freitag, 9-17 Uhr
            </p>
            <h3>Verleihzeiten</h3>
            <p>
                Montag – Freitag, 12-20 Uhr
            </p>
            <p>Wir freuen uns &uuml;ber Lob, Kritik und Anregungen: <a href="mailto:feedback@okto.tv">feedback@okto.tv</a></p>
        </section>
    </div>
{% endblock %}