<div class="row">
    {% for episode in episodes %}
        {% if episode.isActive %}
            {% include "AppBundle:Default:EpisodeThumb.html.twig" %}
        {% endif %}
    {% endfor %}
</div>
<div class="row collapse" id="more_new_Episode">
   {% for episode in episodes %}
        {% if episode.isActive %}
            {% include "AppBundle:Default:EpisodeThumb.html.twig" %}
        {% endif %}
    {% endfor %}
</div>
{# Link deaktivieren wenn Episode < 5 #}
<a href="#more_new_Episode" class="pull-right more" title="Weitere neueste Videos anzeigen" data-toggle="collapse" aria-expanded="false" aria-controls="more_new_Episode">{{ 'oktothek.newest_videos_show_more'|trans}} <span class="icon">+</span></a>