<section class="container more-clips">
    <h2>{{ 'oktothek_show_epis>de.more_from_this_series'|trans }}</h2>
    <select class="form-control">
	    <option>Alle Folgen</option>
        <option>Krieg</option>
        <option>Freiheit</option>
        <option>Arabisch</option>
        <option>Kulturen</option>
        <option>Syrien</option>
        <option>Demonstration</option>
        <option>Andere Sprachen</option>
        <option>Zivilgesellschaft</option>
	</select>
    <div class="row">
        {% for episode in episodes %}
            {% if episode.isActive %}
                {% include "AppBundle:Default:EpisodeThumb.html.twig" %}
            {% endif %}
        {% endfor %}
    </div>
</section>