<!-- Start Top Button -->
<div class="container">
    <button class="btn btn-default btn-top">Nach oben <span class="icon icon-top"></span></button>
</div>
<!-- End Top Button -->
<footer class="footer">
    <section class="networks">
	    <div class="container row">
            <div class="col-md-6 col-sm-12 col-xs-12 socialnetworks">
                <ul>
                    <li><a href="https://www.facebook.com/okto.tv" class="icon-facebook" target="_blank" title="Okto auf Facebook"><span>Facebook</span></a></li>
                    <li><a href="https://twitter.com/oktotv" class="icon-twitter" target="_blank" title="Okto auf Twitter"><span>Twitter</span></a></li>
                    <li><a href="https://plus.google.com/+CommunityTVGmbHWien" class="icon-googleplus" target="_blank" title="Okto auf Google Plus"><span>Google Plus</span></a></li>
                    <li><a href="#" class="icon-instagramm" target="_blank" title="Okto auf Instagramm"><span>Instagramm</span></a></li>
                    <li><a href="https://www.youtube.com/user/oktotv" class="icon-youtube" target="_blank" title="Okto auf YouTube"><span>YouTube</span></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
		        <h3>Newsletter</h3>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email" aria-describedby="einfaches-addon2">
                    <span class="input-group-addon" id="submit_newsletter">Anmelden</span>
                </div>
            </div>
        </div>
    </section>
	<div class="container row">
		<nav class="col-md-6 col-sm-12 col-xs-12">
            {{ render(controller('AppBundle:Page:footer', {'slug': page.slug|default(app.request.get('_route'))})) }}
        </nav>
        <section class="partner col-md-6 col-sm-12 col-xs-12">
            <ul>
                <li><img src="{{ asset('bundles/app/images/partner_herold.png')}}"></li>
                <li><img src="{{ asset('bundles/app/images/partner_rtr.png')}}"></li>
                <li><img src="{{ asset('bundles/app/images/partner_wien.png')}}"></li>
            </ul>
        </section>
    </div>
</footer>
