<footer>
    <nav>
        <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Über</a></li>
		    <li><a href="#">Okto</a></li>
		    <li><a href="#">Team</a></li>
		    <li><a href="#">Kontakt</a></li>
		    <li><a href="#">Partner</a></li>
		    <li><a href="#">Okto empfangen</a></li>
		    <li><a href="#">Presse</a></li>
		    <li><a href="#">Download</a></li>
		    <li><a href="#">FAQ</a></li>
        </ul>
    </nav>
</footer>