<footer class="footer">
    <div class="container">
    <nav>
        <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Über</a></li>
		    <li><a href="#">Okto</a></li>
		    <li><a href="#">Team</a></li>
		    <li><a href="#">Kontakt</a></li>
		    <li><a href="#">Partner</a></li>
		    <li><a href="#">Okto empfangen</a></li>
		    <li><a href="#">Presse</a></li>
		    <li><a href="#">Download</a></li>
		    <li><a href="#">FAQ</a></li>
        </ul>
    </nav>
	<section class="networks row">
	  <div class="col-md-6 socialnetworks">
	    <ul>
		  <li><a href="https://www.facebook.com/okto.tv" class="facebook" target="_blank" title="Okto auf Facebook"><span>Facebook</span></a></li>
		  <li><a href="https://twitter.com/oktotv" class="twitter" target="_blank" title="Okto auf Twitter"><span>Twitter</span></a></li>
		  <li><a href="https://plus.google.com/+CommunityTVGmbHWien" class="googleplus" target="_blank" title="Okto auf Google Plus"><span>Google Plus</span></a></li>
		  <li><a href="#" class="instagramm" target="_blank" title="Okto auf Instagramm"><span>Instagramm</span></a></li>
		  <li><a href="#" class="pinterest" target="_blank" title="Okto auf Pinterest"><span>Pinterest</span></a></li>
		  <li><a href="https://www.youtube.com/user/oktotv" class="youtube" target="_blank" title="Okto auf YouTube"><span>YouTube</span></a></li>
		</ul>
	  </div>
	  <div class="col-md-6">
	      <h3>Newsletter Anmeldung</h3>
	      <div class="input-group">
              <input type="text" class="form-control" placeholder="Email" aria-describedby="einfaches-addon2">
              <span class="input-group-addon" id="einfaches-addon2"><span class="glyphicon glyphicon-chevron-right"></span></span>
          </div>
	  </div>
	</section>
	<section class="partner">
	  <ul>
	    <li>Sponsor 1</li>
		<li>Sponsor 2</li>
		<li>Sponsor 3</li>
	  </ul>
	</section>
	</div>
</footer>