{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': '', 'dropdown': ''} %}
{% endblock %}
{% block body %}
    {# top slider, search and channels #}
    <div>
        {{ render(controller('AppBundle:Default:slider')) }}
    </div>
    {# top slider, search and channels END #}
    {# rest of the page #}
    <div class="container">
        {# render newest episodes #}
        {{ render(controller('AppBundle:EpisodePin:episodePinStack')) }}
    </div>
    {# rest of the page END #}
{% endblock %}
