{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'news', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "head-black-color" %}
{% block body %}
<div class="container">
</div>
{% endblock %}
