{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'login', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "oktothek" %}
{% block body_main %}
<div class="container login">
  <header class="page-header"><h1 class="form-signin-heading">Registrieren</h1></header>
    {{ form(form) }}
</div>
{% endblock %}
