{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'login', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
<div class="container login"
    {{ form(form) }}
</div>
{% endblock %}
