{% extends "BprsStyleBundle::layout.html.twig" %}
{% block title %}{{ 'oktothek_tos_title'|trans }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': '', 'dropdown': ''} %}
{% endblock %}

{% block body %}
    {{ 'oktothek_tos'|trans|markdown }}
    {# do stuff for changing agb etc.
    {% if app.user is not null and not app.user.confirmedAGB %}
        <a href="{{ path('confirm_agb_policy') }}" class="btn btn-default">
            {{ 'oktothek.confirm_agb_policy_button'|trans }}
        </a>
    {% endif %}
    #}
{% endblock %}
